.dash  {

    &-header{
        display: flex;
        justify-content:space-between;
        align-items:center;
        padding:14px 60px 10px 20%; 
        background: linear-gradient(180deg, #FA800A 0%, #FB5A1E 83.67%);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        &>div{
            display: flex;
            align-items: center;

            & span {
                display: block;
                width: 2px; 
                height:  15px; 
                background: white;
            }
        }
        & p {
            padding: 0px 10px;
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;            
        }
        & a{
            color: #FFFFFF;
        }
      
    }
    &-body{
        display: flex;
        align-items: flex-start;

    }
    &-menu{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background: #000000;
        height: 100vh;

        & ul{
            padding: 60px 0px;
            width:100%;
            text-align:center;
        }
    }
    &-logo {
        width: 80%;
        padding: 20px ;

        & img{
            width: 100%;
        }
    }
    &-link{
        padding: 20px 0px;
        
        & a{
            color: white;
        }
    }
    &-menu li.active{
        background: linear-gradient(180deg, #FB5A1E 0%, #FA8407 100%);

    }
    &-content{
        padding: 80px 20px 40px 24%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
        width: 100%;
        /* position: relative; */
    }
    &-card{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 10px;

        &  p {
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 30px;
            /* identical to box height */
            
            
            color: #333333;                                                                                  
        }
    }
    &-icon {
        width: 80%;

        &.wide{
            width: 95%;
        }
        &.mid{
            width: 80%;
        }

        & img{
            width: 100%;
        }
    }
    &-navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        & img{
            width: 10%;
        }
        & a{
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            color: #FB5A1E;            
        }
        & p{
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 35px;
            color: #000000;            
        }
    }
    &-table{
        width: 100%;
        /* background: green; */
        border-radius: 10px;
        padding-top: 40px;
    }
    &-flex{
        width: 100%;
        padding-right: 40px;
    }
    &-entries{
        padding-top: 20px;
        & form{
            display: flex;
            flex-direction:column;
        }

        & input,textarea{
            border: 1.5px solid #DDDDDD;
            box-sizing: border-box;
            border-radius: 15px;
            outline:none;
            padding:15px 10px; 
                       
        }
        & label{
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 30px;
            padding-bottom: 10px;
            color: #333333; 
            
            &.label-small{
                font-family: Sofia Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                white-space: nowrap;
                color: #333333; 
                padding-bottom: 0px;       
            }
        }
    }
    &-form{
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 20px;

        & > div{
            width: 46%;
        }

        & input,textarea{
            width: 100%;
            margin: 10px 0px  10px;
            
        }
       
    }
    &-picture{
        width: 100%;
        border: 1.5px solid #DDDDDD;
        border-radius: 15px;
        height: 60%;
        margin-top: 10px;
    }
    &-browse::-webkit-file-upload-button{
        visibility: hidden;  
    }
    
    &-browse{
        position: relative;
        &::after{
            content: 'browse';
            display:inline-block;
            background: #807D7D;
            border-radius: 20px;   
            position: absolute;
            right:0;
            color:#FFFFFF;
            padding: 23px 20px;
    transform: translateY(-30%);         
        }
        
    }
}

table{
    width: 100%;
box-sizing: border-box;
border-radius: 10px;
border-collapse: collapse;

}

th,td {
    border: 1.5px solid #DDDDDD;
    padding: 20px 0px;
    border-collapse: collapse;
    text-align: center;
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #333333;    
}
.edit-btn{
    padding: 6px 30px;
    background: #7EC25C;
    border-radius: 60px; 
    color: white;                                                                                                                            
}
.del-btn{
    padding: 6px 30px;
    background: #F3493D;
    border-radius: 60px;   
    color: white;                                                                                                                          
}
.btn-new{
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    padding: 14px 40px;
    line-height: 30px;
    color: #FFFFFF;  
    background: #FB5A1E;
border-radius: 60px; 
position: absolute;
    bottom: 40px;
    right: 40px;
    border: none;
           
}
.btn-post{
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    padding: 14px 40px;
    line-height: 30px;
    color: #FFFFFF;  
    background: #FB5A1E;
border-radius: 60px; 
    width: 20%;
    border: none;
    align-self: flex-end;
    margin-top: 20px;
    /* position: fixed;
    bottom: 0; */
}
textarea {
    resize: none;
}

