.login {
    display: flex;
    align-items: flex-start;

    &-bg{
        width: 50%;
        position: relative;
        text-align:center;
        & img{
            width: 100%;
        }
    }
    &-description{
        position: absolute;
        top: 50%;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        transform: translateY(-50%);

        & h1  { 
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 40px;
            /* identical to box height */
                                                                     
        }
            
            color: #FFFFFF;                                 
        & h2 {
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 60px;
            line-height: 60px;
            /* identical to box height */
            
            
            color: #FFFFFF;            
        }
    }
    &-info{
         padding: 40px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
         flex: 1;
         height: 100vh;
         width: 100%;

         & h1{
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 35px;
            /* identical to box height */
            
            
            color: #333333;
            
         }
    }
    &-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        & input {
            border: 1px solid #DDDDDD;
            box-sizing: border-box;
            border-radius: 8px; 
            outline:none;
            padding:10px;
            margin:20px 0px;                                                                                                   
        }
        & input[type='submit']{
            background: #FB5A1E;
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 40px;
            /* identical to box height */
            cursor: pointer;
            
            color: #FFFFFF;            
        }
        & label {
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 22px;
            /* identical to box height */
            
            
            color: #333333;                                                                                                                                                                                       
        }
    }

    &-fail {
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */
        
        
        color: #979797;
    }
}

