.blog {
    &__container {
            padding-top: 130px;
            padding-bottom:40px;
        &>div {
            display: flex;
        }
    }
    &__left  {
        width: 60%;

        & img {
            width: 100%;
            padding:20px 0px;
        }
    }
    &__column {
        padding-left: 60px;
        position: relative;

        &--bg {
            position: absolute;
            /* width:100%; */
            top:20%;
            right:0;
            z-index: -1;

            
        }
        &--desc {
            padding-left: 30px;
        }

        &--item {
            display: flex;
            justify-content:space-around;
            
            padding-bottom: 20px;

            
            &>div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                
                & p {
                    line-height: 1.5;
                    font-size: 12px;

                }
                & h5 {
                    color: #FB5A1E;
                    font-family: Sofia Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 27px;
                }
                
                
            }

        }

        & img{
            width: 100%;
        }
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px 0px 50px;

        & > div {
            width: 30%;
            & img {
                width: 100%;
            }
        }
        & p {
            padding: 6px 0px;
        }
        &--bg {
            position: absolute;
            left: 0;
            top: -10%;
            z-index: -1;
            
            
        }
    }
    &__card > div {
        padding: 20px 0px;
    }
    /* &__text p{
        padding: 6px 0px;
    } */
    &__desc {
        position: relative;

        & p {
            padding: 10px 0px;
        }
        &>div {
            position: absolute;
            top: 50%;
            z-index: -1;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__sub {

        font-family: Sofia Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 20px;
        /* text-align: center;        */
        color: #504D4D;        
    }
    &__date {
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 10px;
        
        color: #504D4D;        
    }
    &__title {

        font-family: Sofia Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 34px;
        color: #FB5A1E;        
    }
    &__author {
        font-family: Sofia Pro;
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        line-height: 40px;
        color: #504D4D;    
        
        &--italics{
            font-family: Sofia Pro;
            font-style: italic;
            /* font-weight: 300; */
            font-size: 10px;
            line-height: 40px;
            color: #504D4D; 
            padding-top:6px;           
        }
    }
    &__cta {    
        & span {
        display: block;
        transform:translateY(-30px);
        line-height: 25px;
        color: #504D4D;
        font-weight:bold;
        &:after {
            content: '';
            display:block;
            width:50px;
            height:2px;
            background:#504D4D;
        }

    }
    &.xform span{
        transform: translateY(0);
    }
    }
    &__text {
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 35px;
        color: #FB5A1E;   
        &--long {
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 30px;
            color: #504D4D;            
        }            
    }
    &__red {
        color:#FB5A1E;
    }
}
@media only screen and (max-width:1024px){
    .blog__column--item>div h5{
        font-size: 15px;
        line-height: 15px;
    }
    .blog__title {
        font-size: 24px;
        line-height: 30px;
    }
    .blog__author {
        line-height: 0;
    }
    .blog__text--long {
        font-size: 15px;
    }
    .diff__button {
        padding-top: 16px;
    }
    .blog__text {
        font-size: 18px;
        line-height: 27px;
    }
}
@media only screen and (max-width:840px){
    .blog__column{
        padding-left: 30px;
    }
    .blog__column--item>div h5 {
        font-size: 14px;
    }
    .blog__text--long {
        font-size: 14px;
    }
    .blog__title {
        font-size: 22px;
    }
}
@media only screen and (max-width:770px){
    .blog__container > div{
       flex-direction: column;
    }
    .blog__column {
        padding-left: 0px;
        margin: 0 auto;
        padding-top: 40px;
    }
    .blog__left {
        width: 100%;
    }
}
@media only screen and (max-width:740px){
    
    .blog__column--item {
        flex-direction: column;
    }
    .blog__column {
        /* height: 765px; */
        /* overflow-y: scroll; */
        /* padding-left: 45px; */
    }
    .blog__cta span {
        transform: translate(0);
        padding: 15px 0px 0px;
    }
    .blog__column--desc {
        
        padding: 10px 0px;
    }
    
    .blog__column--item>div p {
        line-height: 2.3;
    }
    .blog__cards--bg img {
        width: 100%;
    }
    .blog__text {
        font-size: 16px;

    }
}
@media only screen and (max-width:600px){
    .blog__text--long{
        line-height: 26px;
    }
    .blog__column--item>div p {
        font-size: 11px;
    }
    .blog__column--item>div h5 {
        font-size: 12px;
    }
    .blog__cards {
        padding-bottom: 0;
    }
    .blog__cards > div {
        width: 45%;
        padding-bottom: 36px;
    }
    .blog__text {
        line-height: 17px;
    }
}
@media only screen and (max-width:512px){
    .blog__text{
        font-size: 14px;
    }
    .blog__cta span {
        padding: 0px;
    }
}
@media only screen and (max-width:425px){
    .blog__author {
        line-height: 1;
    }
    .blog__container {
        padding: 100px 0 0;
    }
    .blog__text--long {
        font-size: 13px;
        line-height: 18px;
    }
    .blog__column {
        padding-left: 25px;
    }
    .blog__column--item>div p {
        font-size: 10px;
        line-height: 1.4;
    }
    .blog__title{
        font-size: 18px;
    }
    .blog__cards > div {
        width: 48%;
        padding-bottom: 20px;
    }
}