.client{
    background: #FFF7F5;
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;

    &:nth-of-type(even) {
        background: rgba(249, 187, 182, 0.26);
    }

    &__call{
        position: relative;
    }

    &__circle{
        position: absolute;
        left: -11%;
        width: 220px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__numbering{
        padding: 16px 26px;
        background: #333;
        font-size: 2.6rem;
        color: #fff;
        border-radius: 0 28px;
        margin-right: 35px;
        font-family: Roboto;
    }

    &__list {
        list-style: none;
        padding-bottom: 35px;
        padding-left: 30px;
        justify-content: space-between;
        flex-wrap: wrap;

        
        & li{
            font-size: 1.1rem;
            line-height: 2.0rem;
            font-weight: 300;
            position: relative;
            /* white-space: nowrap; */
            text-indent:-48px;

            &::before{
                content: "";
                display: inline-block;
                width: 15px;
                height: 15px;
                top: 0%;
                background: url(../../assets/images/bullet.png);
                margin-right: 30px;
                /* vertical-align: middle; */
            }
        }
    }

    &__itemize {
        padding: 10px;
        & li {
            list-style-type: disc;
            list-style-position:inside;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.9rem;
            
        }
    }

    &__text{
        font-weight: 300;
        font-size: 16px;
        line-height:1.7rem;
        padding-bottom: 20px;

        &--btm-space{
            padding-bottom: 30px;
        }
    }

    &__title{
        font-size:2.6rem;
        color: #333333;
        padding: 0;
        line-height: 1.1;
        /* white-space: nowrap; */

        &--no-margin{
            margin: 0;
            margin-bottom: 10px;
            white-space: nowrap;
        }

        &__custom{
            font-weight: 300;
            font-size: 1.5rem;
        }
    }

    &__container{
        padding: 50px 0;
        display: flex;
        justify-content: center; 
        align-items: center;
        align-content: center;
        position: relative; 

        &--space-added{
            padding: 80px 0;
        }

        &__centering{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &--column {
            flex-direction: column;
            padding-top: 40px ;
        }

        &__title{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
        }
        


        &__img{
            width: 58%;
            

            &--space-added{
                /* transform: translateX(-15%); */
            }
        }


        &__text{
            width: 42%;
            padding:0% 5%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &--wide {
                width: 48%;
                padding-left:2%;
            }

            &--space-removed{
                padding-left: 56px;
                padding-right: 15px;
                
            }

            &--space-narrow {
                padding-left: 0px;
                padding-right: 38px;
            }
            &--pad-left {
                padding-left: 9%;
            }
        }
    }
    &__branding {
        padding-bottom: 0px;
    }
    &__mobile {
        padding-top: 40px;
        width: 64%;

        & img {
            width: 100%;
        }
    }
    &__products {
        width: 90%;
        padding-top: 40px;

        &--collections {
            position: relative;
            display: flex;
            justify-content: flex-end;

            
            & > div {
                /* position: absolute; */
                width:65.5%;
                &.client__inner {
                    position: absolute;
                    width: 69%;
                    left: 0%;
                    top:-5%;

                    &.trudata {
                        width: 60%;
                    }
                    &.chaz {
                        width: 52%;
                    }
                }
                &.client__outer {
                   
                }
            }

            &.afiaanyi > div {
                width: 71.5%;
                padding-bottom: 20px;
            }
        }
        
    }
    &__showcase{
        display: flex;
        align-items: center;
    }
    &__pad {
        padding: 0px 20px;
    }
    &__tpad {
        padding-top: 40px;
    }
    &__img{
        background-size: cover;
        background-position: bottom left;
        position: relative;

        & img {
            width: 100%;
        }

        & p {
            /* padding-left: 25px; */
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;            
            color: #E83124;
        }

        &__inner-one{
            width: 85%;
            box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.2);

            &--shift{
                transform: translateX(-5%);
            }

            &--floated{
                margin-left: 15%;
            }
        }

        &__inner-two{
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translate(3%, -50%);
            /* box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.25); */
            width: 82%;

            &--left{
                left: 0;
            }

            &--mobile{
                width: 40%;
                border-radius: 10%;
                transform: translate(0%, -50%);
                right: 0%;
            }
        }
        &--resize{
            width: 60%;
        }
    }

    &__call-text{
        width: 50%;
        padding-left: 30px;
        position: relative;

        &--group{
            margin-bottom: 15px;
        }
    }

    &__call-img{
        width: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__call-image{
        width: 100%;
    }

}


@media only screen and (min-width: 1200px){
    client__numbering{
        margin-right: 42px;
    }

    client__title{
        /* white-space: nowrap; */
    }
}

@media only screen and (min-width: 1144px){
    client__container__img{
        width: 45%;
    }
    client__container__text{
        width: 55%;
    }
}

@media only screen and (max-width: 1200px){
    client__container__title{
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 1120px){
    client__text {
        padding-bottom: 23px;
    }
}

@media only screen and (max-width: 1100px){
    client__container__text{
        margin-bottom: 0px;
    }
}



@media only screen and (max-width: 765px){
    .client__container {
        flex-direction: column;
        align-items: center;
    }
    .client__container__img {
        order: -1;
    }
    .client__container__text {
        width: 100%;
    }
    .client:nth-of-type(1) > .client__container {
        padding: 50px 0px 0px;
    }
    .client__container {
        padding: 0;
    }
    
    .client__container__text--space-removed {
        padding-left: 5%;
    }
    .client__container__text--space-narrow {
        padding-left: 5%;
    }
    .client__container__text--wide {
        padding-left: 5%;
    }
    .client__products--collections.afiaanyi > div {
        padding-bottom: 35px;
    }
    .client__img p {
        font-size: 15px;
    }
}



@media only screen and (max-width: 512px){
    
    .client__img p {
        line-height: 17px;
    }
}
@media only screen and (max-width: 420px){
    
    .client__title{
        font-size: 2.4rem;
    }
}
