.contact{

    &__container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 0;
    }


    &__sub-text{
        font-weight: 300;
        font-size: 1.0rem;
        margin: 30px 0;
        color: #000000;
        line-height: 26px;
        
    }
    &__spot {
        position: absolute;
        top: 0;
        left: 0;
        & img {
            width: 60%;
        }
    }
    &__map--bg {
        position: absolute;
        top: 25%;
        left: 25%;
    }
    &__left{
        &-container{
        width: 50%;
        /* padding-right: 8%; */
        height: 60vh;
        padding: 60px 5% 60px 60px;
        position: relative;
        }
        &-inner {
            position: relative;
        }
    }

    &__right-container{
        width: 50%;
        position: relative;
        background: #FFF7F5;
        padding: 60px 40px;

    }

    &__map{
        border-radius: 20px;
        /* overflow: hidden; */
        height: 400px;
        margin-top: 7%;
        box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.2);
        width: 93%;
        position: relative;
    }
    &__overlay {
        position: absolute;
        height: 100%;
        background:  linear-gradient(0deg, rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.5));
        width: 100%;
        top: 0;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        & h2 {
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 500;
            font-size: 2.2rem;
            line-height: 350px;
            letter-spacing: 0.02em;            
            color: #FFFFFF; 
            text-align:center;
            transform:translateY(-15%)           
        }
    }

    &__bg{
        height: 400px;
        width: 50%;
        background: linear-gradient(180deg, #FB5A1E -4.82%, #FA8407 100%);
        border-radius: 20px;
        position: absolute;
        right: -20px;
        top: -20px;
        z-index: 0;
    }

    iframe {
        border-radius: 20px;
        height: 400px;
    }

    &__title{
        font-size: 2.5rem;
        font-weight: 600;
        color: #333;

        &:after{
            content: "";
            display: block;
            width: 10%;
            height: 3px;
            border-radius: 10px;
            background: #FB5A1E;
            margin-top: 6px;
        }
    }

    &-form{
        padding: 30px 0;
        position: relative;

        &__inner-container{
            padding-bottom: 32px;
        }

        &__message{
            height: 600px;
        }

        &__submit{
            padding: 12px 30px;
            border-radius: 60px;
            color: #ffffff;
            border: none;
            background: #FB5A1E;
            cursor: pointer;
            margin: 7px 0;
    
            &:focus{
                outline: none;
            }
        }

        &:after{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(../../assets/images/map-opaque.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            z-index: -1;
        }
    }

    
    &-form__input{
        border: none;
        width: 100%;
        border-bottom: 1px solid #979797;
        padding: 7px 0;
        background: transparent;
        resize: none;

        &:focus{
            outline: none;
            border-bottom: 2px solid #FB5A1E;
        }
    }

    &-form__label{
        display: block;
        padding-bottom: 4px;
        margin-bottom: 5px;
        font-size: 1.2rem;
        font-weight: 500;
        color: #FB5A1E;
    }

    &__title-text{
        font-weight: 400;
        font-size: 1.3rem; 
        padding: 16px 0;
        /* color: #000;*/
        color: #FB5A1E;
    }

    &__social{
        display: flex;
        margin-top: 32px;

        img{
            height: 20px;
            margin-right: 12px;
        }

        &:link{
            text-decoration: none;
        }
    }

    &__text{
        color: #333;
    }
    &__animation {
        padding-top: 35px;
    }
    
}

@media only screen and (max-width: 740px){
    .contact__container{
        flex-direction: column;
    }
    .contact__left-container, .contact__right-container{
        width: 100%;
    }
    .contact__left-container {
        height: auto;
        padding: 20px 7% 0px 40px;
    }
    .contact-form {
        padding: 0;
    }
    .contact__right-container {
        padding: 0px 40px 40px;
    }
    .contact__map{
        width: 100%;
    }
    .contact__bg{
        visibility: hidden;
    }
    .contact__animation {
        padding-top: 0;
    }

}

@media only screen and (max-width: 740px){
    .contact__map--bg{
        left: 4%;
    } 
}