.diff {
    padding-top: 20px;
    position: relative;
    
    &__container {
            display: flex;
            justify-content:space-around;
            padding:20px 20px 0px 30px;
            position: relative;
            /* margin-bottom:30px */
        & > div {
            width: 49%;
            & h3 {
                font-family: Sofia Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 65px;
                letter-spacing: 0.03em;
                color: #FB5A1E; 
                white-space: nowrap;
                padding-bottom:10px

            }
            & p {
                font-family: Sofia Pro;
                font-style: normal;
                font-weight: 300;
                font-size: 17px;
                line-height: 190%;
                color: #504D4D;
                                
            }
            & img {
                position: absolute;
                height: 100%;

                &.diff__home-right {
                    height: 40%;
                    right:-20%;
                    top:-50px
                }
                &.diff__home-left {
                    height: 100%;
                    position: relative;
                }

            }
            /* &:nth-of-type(1) img{
                left: 0px;                
            } */
            &:nth-of-type(2) img{
                right: 50px;
            }
        }
    
    }
    &__button {
        padding: 18px 32px;
        font-size: .7rem;
        margin: 28px 0px 28px 0px;

        & img {
            left: 14px;
        }
    }
    
        
        
        &__bg{
            position: absolute;
            right: 0;
            width: 18%;
            top: 24px;
            z-index: 0;
        }
    
    
        &__title{
            /* font-family: Sofia Pro; */
            font-style: normal;
            font-size: 2.4rem;
                   
            &--nopad {
                padding-top:0px
            }
    
        }
    
        &__board {
             width: 100%;

             & img {
                 width: 100%;
             }
            
            &:nth-of-type(odd){
                
                background: #FFF7F5;
            }
    
            &--bg {
                background: #FFF7F5;
                width:100%;
                height: 100%;
                z-index:-2;
                transform:translateY(1px)
            }
    
           
          
            &:nth-of-type(odd) .diff__desc {
               order: 1;
            
            }
            
           
            &:nth-of-type(even) .diff__desc{
               
                padding-left: 30px;
            }
            &:nth-of-type(odd) .diff__desc{
               order: -1;
                padding-right: 30px;
            }
        }
    
        &__visual {
            
            position: relative;

            
            
            & img {
                height: 90%;
               /* z-index: 2; */
            }
            &--responsive {
                display: none;
            }
        }
    
        &__desc {
            /* width: 50%; */
            padding-top: 6px;
            & h2 {
                font-size: 2.5rem;
            }
            
            & h3 {
                font-family: Sofia Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 40px;
                color: #FB5A1E;                
            }
            & h5 {
                font-family: Sofia Pro;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 173.4%;
                letter-spacing: -0.02em;
                color: #504D4D;
            }

            & p {
                font-family: Sofia Pro;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 173.4%;
                letter-spacing: -0.02em;
                color: #504D4D;
                padding: 20px 0 30px;

                &.para {
                    line-height: 220%;
                    padding-bottom:60px
                
                }
                
                & span {
                color: #FB5A1E;                
                    font-weight:500;

                    &::before {
                        content: url(../../../assets/images/colordot.png);
                        vertical-align: top;
                        padding-right: 10px;

                    }


                }
            }
        }
        &__dot {
            position: absolute;
            top: -9%;
            /* transform: scale(0.5); */
            left: -9%;
            z-index: -1;
        }
        &__left {
            height: 430px;
        }
       &__home{
           &-bottom {
           position: absolute;
           z-index: -1;
           bottom: 0px;
           left: 0;
           width: 100%;
           height: 56%;
           background: url(../../../assets/images/diffbg3.png);
           background-size: cover;
           
           
          
        }
       
        }
    
}
.divider {
    height: 270px;
}



@media only screen and (max-width:1200px){
    .diff__board {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .diff__board > div:nth-child(2) {
        width: 100%;
        align-items: center;
    }
    .diff__board:nth-of-type(odd) .diff__desc {
        order: 1;
    }
}
@media only screen and (max-width:1220px){
    .diff__container {
        padding: 45px 0px 0px 45px;
    }
}
@media only screen and (min-width:1089px){
    .diff__container > .diff__left {
        width: 63%;
        
    }
    
}
@media only screen and (max-width:1089px){
    .diff__container > div h3  {
        font-size: 22px;
    }
    .diff__container > div p  {
        font-size: 16px;
    }
    .diff__container > div img  {
        height: 80%;
    }
    .diff__container > .diff__left {
        height: 400px;
        width: 60%;
    }
    .diff__container {
        padding-left: 0px;
    }
    .diff__desc p.para {
        padding-bottom: 20px;
        line-height: 186%;
    }
}
@media only screen and (max-width:956px){
    .diff__container {
        padding: 30px 0px 0px 15px;
        
    }
    .diff__container > div p {
        line-height: 160%;
    }
    .divider {
        height: 300px;
    }
    .diff__home-bottom {
        bottom: -20px;
    }
    .diff__container > .diff__left {
        height: 360px;
    }
}
@media only screen and (max-width:900px){
    .divider {
        display: none;
    }
    .diff__container {
        padding-left: 0px;
    }
    .diff__container > div {
       width: 60%;
    }
    .diff__container > div h3  {
        font-size: 23px;
    }
    .diff__container > div p  {
        font-size: 15px;
    }
    .diff__left {
        height: 300px;
    }
}
@media only screen and (max-width:860px){
    .diff__container > .diff__left {
       height: 326px; 
    }
    .diff__container > div p {
        line-height: 136%;
    }
}
@media only screen and (max-width:823px){
    .diff__container {
        padding: 15px 0px 0px 0px;
        
    }
    .diff__container > div h3  {
        font-size: 20px;
    }
   
}
@media only screen and (max-width:768px){
    .diff__container {
        padding: 15px 0px 20px 0px;
        flex-direction: column;
        align-items: center;
    }
 
    .diff__container > div {
       
        width: 100%;
        padding: 0px 15px;
    }
    .diff__visual {
        
            & > div {
            padding-left: 0;
            }
        
    }
    .diff__visual:nth-of-type(odd) {
        height: 330px;
    }
    .diff__board {
        padding-left: 30px;
        padding-right: 30px;
    }
    .diff__board:nth-of-type(even) .diff__desc {
        padding-left: 0px;
    }
    .diff__board:nth-of-type(odd) .diff__desc {
        padding-right: 0px;
    }
    .diff__container>div.diff__left {
        width: 60%;
        height: auto;
    }
    .diff__home-bottom {
        bottom:-50px ;
    }
    .diff__container > div img.diff__home-left {
        width: 100%;
    }
    
}
@media only screen and (max-width:540px){
    
    .diff__container > div   {
        padding: 0;
    }
}
@media only screen and (max-width:512px){
    .diff__container > div h3  {
        font-size: 19px;
    }
    .diff__container > div p  {
        font-size: 15px;
    }
    .diff__desc h3 {
        font-size: 24px;
    }
    .diff__visual {
        height: 305px;
    }
    .diff__visual:nth-of-type(odd) {
        height: 305px;
    }

}

@media only screen and (max-width: 425px){
    .diff__container {
        padding: 15px 0px 0px 0px;
    }
    .diff__container > div img {
        /* height: 27%; */
    }
    
    .diff__visual {
        height: 260px;
    }
    .diff__visual img{
        height: 77%;
    }
    .diff__visual:nth-of-type(odd) {
        height: 260px;
    }
    .diff__desc > .title {
        font-size: 20px;
        padding-top: 0px;
    }
    .diff__desc h3 {
        font-size: 17px;
        line-height: 27px;
    }
    .diff__left{
        height: 250px;
    }
}
@media only screen and (max-width: 350px){
    .diff__container > div h3  {
        font-size: 17px;
    }
    .diff__container {
        padding: 15px 0px 0px 0px;
    }
    .diff__visual:nth-of-type(odd) {
        height: 237px;
    }
    .diff__container > div img.diff__home-left{
        /* height: 80%; */
    }
}