.footer{
    width: 100%;

    &__title{
        /* font-size: 4rem; */
        color: #fff;
        text-align:right;
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: 900;
        font-size: 4.6rem;
        line-height: 50px;

        span{
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 900;
            font-size: 2.6rem;
            line-height: 70px;
            
        }
    } 

    &__quote{
        background: #FFF;
        width: 327px;
        box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        position: absolute;
        right: 5%;
        top: -90px;
        padding: 28px 36px;
        

        &__input{
            width: 100%;
            border: none;
            border-bottom: 1px solid rgba(151, 151, 151, 0.7);
            padding: 0 0 8px 0;

            &--msg{
                resize: none;
            }
            
            &-container{
                position: relative;

                .footer__label{
                    position: absolute;
                    top: 20px;
                    left: 0;
                    cursor: text;
                    font-size: .9rem;
                    color: #979797;
                    transition: all .3s;

                    &--keep{
                        top: 0;
                        color: #fb5a1e;
                        font-size: .8rem;
                    
                    
                    }
                }
            }

            &:focus {
                outline: none;
                border-bottom: 1.5px solid #FB5A1E;

                &~.footer__label{
                    top: 0;
                    color: #fb5a1e;
                    font-size: .8rem;
                    
                }
            }

        }

        &__input-container{
            padding: 16px 0px;
        }

        &__title{
            text-align: center;
            color: #FB5A1E;
            font-weight: 600;
            padding-bottom: 16px;
        }
    }

    &__text{
        color: rgba(255, 255, 255);
        font-weight: 200;
        font-size: 1.4rem;
        padding: 34px 0 20px 0;

        &__lower{
            font-size: 0.8rem;
            color: rgba(0,0,0,.9);
            /* transform: translateY(4px); */
            padding-left: 10px;
            font-weight:300;
            line-height:0;
            display:contents
        }

        span{
            font-weight: 500;
        }
    }
 
    &__container{
        width: 100%;
        position: relative;
        background: linear-gradient(180deg,  rgba(254, 86, 39, 0.8) 0%, rgba(254, 84, 41, 0.8) 6.53%, rgba(250, 125, 11, 1.0) 100%), url(../../assets/images/footer-bg.png);
        background-position: center right;
        background-size: contain;
    }

    &__content{
        width: 100%;
        /* width: calc(95% - 367px); */
        padding: 75px 89px 134px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > div:nth-child(2) {
            display: flex;
            flex-direction:column;
            align-items:flex-end;
            transform: translateY(30px);
        }
    }
    &__left {
        width: 43%;

        &--title {
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 18px;
            color:#ffffff;
        }
        & ul {
            list-style-type: none;
            list-style-position: inside;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            padding-top: 20px;
            padding-left: 10px;

            & li {
                font-family: Sofia Pro;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height:28px;
                color:#fff;

                &:nth-child(even){
                    width: 48%;
                    
                }

            }
            
            & li::before {
                content:url(../../assets/images/mapicon.png);
                display: inline-block;
                height: 10%;
                vertical-align: middle;
                margin-right: 4px;
                
            }
        }

    }
    &__desc{
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        color: #fff;
    }

    &__lower-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 86px 0% 21px 0%;
    }

    &__link:link, &__link:visited{
        text-decoration: none;
        color: #000;
        font-size: 0.9rem;
        /* margin-right: 20px; */
        display: inline-flex;
        white-space: nowrap;
        align-items: center;
        margin: 0px 10px 0px 20px;
    }

    &__lower-right{
        display: flex;
        justify-content: flex-end;
        white-space: nowrap;
        width: 20%;

        &>div {
            padding-right: 10px;
        }
        & a {
            margin: 0px 3px;
        }
    }
    &__link--container {
        display: flex;
    }

    &__link__logo{
        width: 150px;
        /* transform: translateY(-2px); */
    }

    &__lower-left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        

    }

    &__lower-content{
        padding: 0px 0 0px 0;
        background: #fff;
        position: relative;
        width: 100%;
    }

    &__input-container{
        border-radius: 200px;
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, -50%);
        width: 45%;
        background: #fff;
        padding: 7px;
        border-radius: 200px;
        display: flex;
        justify-content: space-between;
        box-shadow: 11px 15px 54px rgba(0, 0, 0, 0.09);

        &::before{
            content: "";
            display: block;
            height: 18px;
            width: 27px;
            background: black;
            margin-left: 35px;
            margin-top: 9px;
            background: url(../../assets/images/mail.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            img{
                width: 100%;
            }
        }
    }

    &__input{
        border: none;
        font-size: .9rem;
        width: 65%;
        padding: 10px 16px;
        border-radius: 200px;
        color: #C4C4C4;;
        padding-left: 20px;

        &__title{
            left: 50%;
            position: absolute;
            z-index: 66;
            transform: translateX(-50%);
            top: -78px;
            font-size: 1.4rem;
            white-space: nowrap;
            line-height: 49px;
            color: #fff;
            font-weight: 500;
        }

        
        &::placeholder{
            color: rgba(0,0,0,.5);
        }

        &:focus{
            outline: none;
        }
    }

    &__submit {
        background: #FB5A1E;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
        border: #FFAD57;
        width: 180px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 11px 0;
        border-radius: 200px;
        color: #fff;
        font-weight: 300;
        font-size: 0.9rem;
        cursor: pointer;

        &--adjust{
            width: unset;
            padding: 9px 25px;
            float: right;
        }

        &:focus{
            outline: none;
        }
    }

    &__break{
        display: none;
    }

}



@media only screen and (max-width: 820px){

    .footer__quote{
        top: -60px;
        width: 300px;
    }
}

@media only screen and (max-width: 1020px){
    .footer__input-container{
        width: 60%;
    }
    .footer__input-container{
        /* width: 60%; */
    }

}
@media only screen and (max-width: 820px){
    .footer__input-container{
        width: 70%;
    }
}

@media only screen and (max-width: 620px){
    .footer__input-container{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer__title {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 540px){
    .footer__break{
        display: none;
    }

    .footer__content {
        padding: 120px 0;
        width: 100%;
    }

    .footer__quote{
        width: 300px;
        right: 50%;
        transform: translateX(50%);
    }

    .footer__title{
        margin-bottom: 0;
        line-height: 20px;
        margin-top: 30px;
        white-space: nowrap;
    }

    .footer__input-container {
        width: 80%;
    }

    .footer__input-container::before {
        height: 15px;
        width: 27px;
        margin-left: 10px;
    }
    .footer__submit {
        width: 130px;
    }
    .footer__input {
        padding-left: 7px;
    }
    .footer__link--container {
        flex-wrap: wrap;
    }

} 

@media only screen and (max-width: 425px){
    .footer__link:link.xpad {
        padding-left:4px
    }
    .footer__input {
        width: 80%;
        font-size: 0.7rem;
    }
}
@media only screen and (max-width: 370px){
    .footer__quote {
        width: 90%;
        right: 5%;
        transform: translateX(0%);
    }
    .footer__input {
        width: 100%;
        font-size: 0.6rem;
    }
    .footer__input-container::before {
        margin-left: 0px;
    }
}


@media only screen and (max-width: 1050px){
    .footer__lower-links{
        flex-direction: column;
    }
    .footer__lower-left{
        display: block;
        margin-bottom: 28px;
    }
    .footer__lower-left .footer__link:link, .footer__link:visited{
        /* display: block; */
        /* width: 33%; */
    }
  
    .footer__link--resp:link, .footer__link--resp:visited{
        width: 100%;
        text-align: center;
        display: block;
        margin-bottom: 13px;
    }

    .footer__link:link:last-child{
        margin-right: 0;
    }
}


@media only screen and (max-width: 1168px){
    .footer {
        &__left{
        width: 47%;
        &--title {
            font-size: 26px;
        }
        }
    }
}
@media only screen and (max-width: 1024px){
    .footer {
        &__content{
            padding: 70px 40px 120px 46px;
        }
        &__desc {
            font-size: 14px;
        }
        &__lower-right {
            justify-content: center;
        }
    }
}
@media only screen and (max-width: 854px){
    .footer {
        &__left{
            width: 60%;
        }
        &__title {
            font-size: 45px;
            &--span {
                font-size: 33px;
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .footer {
        &__content{
            padding: 70px 29px 120px 40px;
            & > div:nth-child(2) {
                align-items:center
            }
        }
        &__title {
            font-size: 34px;
            text-align: center;
            & span {
                font-size: 29px;
                text-align:center;
            }
        }
    }
}
@media only screen and (max-width: 668px){
    .footer {
        &__content{
            flex-direction: column;
            padding-bottom: 80px;
             
            & > div::nth-child(2){
                padding-top:20px;
            }

        }
        &__title {
            line-height: 12px;
        }
        &__left {
            width: 75%;
        }
    }
}
@media only screen and (max-width: 549px){
    .footer {
        &__content{
            padding: 0 auto;;

        }
        &__left {
            width: 100%;
        }
        
    }
    .footer__lower-left 
        .footer__link:link, 
        .footer__link:visited{
            margin: 0 10px;
        }
}
@media only screen and (max-width: 512px){
    .footer__lower-left .footer__link:link, .footer__link:visited {
        /* width: 100%; */
        text-align: center;
        margin-right: 0;
        display: block;
        margin-bottom: 22px;
    }
}
@media only screen and (max-width: 432px){
    .footer {
        &__left {
            &--title {
            font-size: 21px;
            }
        & ul {
            flex-direction: column;
             & li{
            font-size: 15px;
            &:nth-child(even){
                width: 100%;
                 }
            }
        }
        }
    }
    .footer__lower-left .footer__link:link, .footer__link:visited{
        margin-bottom: 14px;
    }
    .footer__lower-left {
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 380px){
    .footer {
        &__left {
            &--title {
            font-size: 19px;
            }
        }
        &__desc {
            font-size: 12px;
        }
    }
    .footer__lower-left .footer__link:link, .footer__link:visited{
        margin: 0 7px;
    }
    .footer__link:link, .footer__link:visited {
        font-size: 0.8rem;
    }
}
@media only screen and (min-width: 1400px){
    .footer__left ul li:nth-child(even) {
        width: 48%;
    }
}

@media only screen and (min-width: 1500px){
    .footer__left ul li:nth-child(even) {
        width: 54%;
    }
}
@media only screen and (min-width: 1700px){
    .footer__left ul li:nth-child(even) {
        width: 36%;
    }
}