.header{

    width: 100%;
    position: relative;
    

    &__container{
        height: 100vh;
        width: 100%;
        background:  linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../assets/images/hero_img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        position: relative;

        &--services{
            height: 70vh;
            background: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../assets/images/services-bg.png);
        }

        &--casestudy{
            height: 70vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74)), url(../../assets/images/work-bg.jpg);        
        }

        &--geek{
            height: 70vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/images/solutionsbg.png);        
            background-position: bottom right;
            background-size: cover;
            background-repeat: no-repeat;        
        }

        &--about{
            height: 66.5vh;
            background: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../../assets/images/about.png);
            background-position: top center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &--quote{
            height: 58vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/quote__bg.png);
        }

        &--contact{
            height: 60vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/images/contact-bg2.jpg);
            background-position: bottom right;
            background-size: cover;
            background-repeat: no-repeat;
        }

        /* &--portfolio{
            height: 6vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../../assets/images/portfolio-bg.jpg); */
            /* background-position: top right; */
            /* background: #0F0F0F; */
            /* background-size: cover; */
            /* background-repeat: no-repeat     */
        /* } */ 
        &--team{
            height: 70vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/images/ourteambg.png);
            background-position: top right;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--how{
            height: 63vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/whobg.png);
            background-position: top right;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--solutions{
            height: 50vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/work-bg.jpg);
            background-position: top right;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--diff{
            height: 64vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/diffbg.png);
            background-position: top right;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--recognition{
            height: 68vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/recognitionbg.png);
            background-position: top right;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--portfolio{
            height: 68vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/portheaderbg.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--tworeport{
            height: 90vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/tworeporbg.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--afiaanyi{
            height: 80vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/afiaanyibg.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--trudata{
            height: 80vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/td-bg.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--chaz{
            height: 80vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/chazb-bg.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--nerfund{
            height: 80vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/nerfund-bg.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--petrol{
            height: 80vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/petrol-bg.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--mom{
            height: 80vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/mom-bg.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &__text-br{
        display: none;
    }

    &__break {
        display: none;
    }

    &__title{
        font-size: 1.8rem;
        color: #ffffff;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        line-height: normal;
        margin: 0.2em 0;
        &--sub {
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: bold;
            font-size: 2.4rem;
            line-height: 50px;
            letter-spacing: -0.02em;
            color: #FFFFFF;            
        }

        &--services{
            font-family: 'Playfair Display', serif;
            text-align: center;
            margin: 0;
            font-size: 2.7rem;
        }

        &--em{
            font-family: 'Playfair Display', serif;
            font-style: italic;
            font-weight: 900;
        }
    }

    &__text{
        font-size: 0.9rem;
        color: #ffffff;
        font-family: 'Sofia Pro', serif;
        font-weight: 200;
        line-height: 28px;
        /* opacity: 0.8; */

        &--services{
            text-align: center;
        }

        &__box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 250px;

            &-small {
                width: 200px;
            }
        }
       

        &-container{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .circle{
                display: block;
                height: 7px;
                width: 7px;
                background: #ffffff;
                border-radius: 50%;
                position: absolute;
                top: -3px;
                z-index: 2;
            }
        }
    }
    &__italics {
        font-style: italic;
    }
    &__map{
        position: absolute;
        right: 0%;
        height: 103%;
        top: 11%;
        display: none;
    }

    &__design{
        width: 6rem;
        vertical-align: sub;
        
    }

    &__development{
        width: 12.8rem;
        vertical-align: bottom;
        transform: translateY(-11px);
    }

    &__sub--menu, &__portfolio--navs {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        /* border-top: 1px solid #807D7D; */

        &--removed {
            border-top: none;
        }
        
        & ul {
            width: 100%;
            display: flex;
            justify-content:center;
            /* padding:12px 0px; */
        }

        & li {
            list-style-type: none;
            padding: 0px 17px;
            
            &.active{
                
                & a  {
                    border-bottom: 5px solid #FB5A1E;
                    /* font-size: 20px; */
                    font-weight: 300;
                transition: all 0.3s ease-in;
                white-space:nowrap;
                color:#FB5A1E;

                }
            }

        & a{
            display: block;
            color: white;
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 100;
            font-size: 17px;
            line-height: 20px;
            
            padding: 22px 0px;
            &:hover {
                color: #FB5A1E;;
            }
            

        }
        
    }
   

    }
    &__portfolio--navs li {
        padding: 0px 38px;
    }
    &__portfolio--navs li a {
       white-space: nowrap;
    }

   

}

@media only screen and (min-width: 365px){
    .header__break{
        display: block;
    }
    .header__text-br{
        display: block;
    }
}

@media only screen and (min-width: 540px){
    .header__container--services{
        height: 75vh;
    }
    
}

@media only screen and (min-width: 600px){
    .header__design{
        width: 9.5rem;
        /* transform: translateY(-5.2px); */
    }
    .header__development{
        width: 17rem;
        transform: translateY(-3px);
    }
    .header__text__img {
        width: 232px;
    }
}


@media only screen and (min-width: 600px){
    .header__title{
        font-size: 2.8rem;
    }
}

@media only screen and (min-width: 1020px){
    .header__map{
        display: block;
    }
}

@media only screen and (min-width: 920px){
    .header__text{
        line-height: 35px;
    }
}
@media only screen and (max-width: 1390px){
    .header__map{
        height: 90%;
    }
}
@media only screen and (max-width: 1290px){
    .header__map{
        height: 80%;
    }
}
@media only screen and (max-width: 1130px){
    .header__map{
        height: 70%;
    }
    .header__container--contact {
        background-position: top top;
    }
}
@media only screen and (max-width: 768px){
    .header__sub--menu li a {
        font-size: 14px;
    }
    .header__sub--menu li.active a {
        font-size: 17px;
    }
    .header__container--afiaanyi, .header__container--trudata{
        height: 90vh;
    }
    .header__portfolio--navs li {
        padding: 0px 16px;
    }
    .header__portfolio--navs li a{
        font-size: 14px;
    }
}
@media only screen and (max-width: 660px){
    .header__sub--menu li  {
        padding: 0px 8px;
    }
    .header__sub--menu li a {
        font-size: 12px;
    }
    .header__sub--menu li.active a {
        font-size: 16px;
    }
    .header__sub--menu li a, .header__portfolio--navs li a{
        padding: 16px 0px;
    }
}

@media only screen and (max-width:600px){
    .header__development {
    /* vertical-align: sub; */
    }
    .header__design {
    width: 7rem;
        vertical-align: text-bottom;
    }
    .header__portfolio--navs li {
        padding: 0 22px;
    } 
    .header__sub--menu li a ,
    .header__portfolio--navs li a{
        font-size: 11px;
    }
     
    .header__sub--menu li.active a, .header__portfolio--navs li.active a {
        font-size: 16px;
    }
}
@media only screen and (max-width: 512px){
    .header__sub--menu li  {
        padding: 0px 6px;
    }
    .header__sub--menu  li a,
    .header__portfolio--nav  li a{
        font-size: 10px;
    }
    .header__portfolio--navs li {
        padding: 0 11px;
    }
    
}
@media only screen and (max-width: 425px){
    .header__title--sub{
        font-size: 1.8rem;
    }
    .header__text {
        font-size: 1.1rem;
    }
    
    
    .header__sub--menu li a,
    .header__portfolio--navs li a {
        font-size: 9px;
        line-height: 5px;

    }
     
    .header__sub--menu li.active a,
    .header__portfolio--navs li.active a {
        font-size: 11px;
    }
    
    .header__container--afiaanyi,
    .header__container--trudata,
    .header__container--tworeport,
    .header__container--chaz,
    .header__container--nerfund,
    .header__container--mom,
    .header__container--petrol
     {
        height: 70vh;
    }
    
}
@media only screen and (max-width: 375px){
    .header__text{
        font-size: 1.0rem;
    }
    .header__development {
        width: 10.8rem;
    }
    .header__design {
        width: 6rem;
        /* transform: translateY(-14px); */
    }
    .header__title--sub {
        font-size: 1.7rem;
    }
    .header__portfolio--navs li {
        padding: 0 6px;
    }
    .header__sub--menu li a{
        font-size: 8px;
    }
    .header__sub--menu li.active a{
        font-size: 9px;
    }
    
}
@media only screen and (max-width: 350px){
    .header__text{
        font-size: 1.0rem;
    }
    .header__development {
        width: 10rem;
        transform: translate(0);
        vertical-align: middle;

    }
    .header__design {
        width: 5rem;
        vertical-align: middle;
    }
    .header__title--sub {
        font-size: 1.5rem;
    }
   
}

@media only screen and (max-height: 500px){
    .header__container{
        height: 500px;
    }
    
}