.header__case{
    /* padding-top: 0px; */
    display: flex;
    align-items: center;
    justify-content:flex-start;

    & > div {
        padding-left: 40px;

        &.header__case--content {
            padding-left: 90px;
            padding-right: 30px;
        }
        &.header__case--content.narrow{
            padding-left: 30px;
        }

        
    }
    &--logo {
        width: 60%;

        &.afiaanyi {
            width: 32%;
            margin:0 auto;
        }

        &.petrol {
            padding-left: 40px;
        }

        & img {
            width: 100%;
        }
        
    }
    &--content {
        
        width: 45%;

        &.narrow {
            width: 40%;
        }
        &.wide {
            width: 52%;

            & > div .header__case--client {
                padding-left: 20px;
            }
        }


        & > div {
            display: flex;
            justify-content:space-between;
            /* width:100%; */
        
        & h3 {
            font-family: sofia pro;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 34px;
            letter-spacing: 0.03em;
            
            color: #FFFFFF;                
        }
        & ul {
            padding-left: 20px;
        }
        & li, & p {
            list-style-type: disc;
            list-style-position: inside;
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 28px;
            letter-spacing: 0.02em;            
            color: #FFFFFF; 
            white-space: nowrap;           
        }
    
        }
    }
    &--img {
        width: 47%;
        /* padding-right: 100px; */

        & img {
            width: 100%;
        }
        &.wide {
            width: 55%;
        }
    }
    &--client {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    

    &--btn {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;  
        background: #fff;  
        padding: 12px 22px;
        color: #E83124;            
    }
}

@media only screen and (max-width:1365px){
    .header__case--content.narrow, .header__case--content{
        width: 55%;
    }   
    .header__case > div.header__case--content {
        padding-left: 60px;
    }
    .header__case--content.wide {
        width: 67%;
    }
    .header__case > div.header__case--content.wide {
        padding-left: 30px;
    }
}
@media only screen and (max-width:1065px){
    .header__case > div.header__case--content.narrow {
        padding-left: 3px;
    }
    .header__case > div.header__case--content {
        padding-right: 7px;
    }   
    .header__case--content > div li, .header__case--content > div p {
        padding: 6px 0px;
        line-height: 20px;
        white-space: normal;
    }
    .header__case--client {
        padding-left: 10px;
    }
}

@media only screen and (max-width:768px){
    .header__case {
        flex-direction: column;
    }
    .header__case > div.header__case--content {
        padding-left: 3px;
    }
    .header__case--content.narrow, .header__case > div.header__case--content {
        width: 80%;
    }
    .header__case > div.header__case--content.wide {
        width: 90%;
    }
    .header__case > div {
        padding-left: 0;
    }
    .header__case--img.wide {
        width: 60%;
    }
    .header__case--logo.afiaanyi {
        width: 28%;
    }
    .header__case--logo.mom {
        width: 37%;
    }
    .header__case--logo.petrol {
        padding-left: 0px;
        margin:0 auto;
    } 
    .header__case--logo.xpad {
       
        margin:10px auto;
    } 
}
@media only screen and (max-width:600px){
    .header__case > div.header__case--content.narrow {
        padding-left: 20px;
        width: 98%;
    }
    
}
@media only screen and (max-width:512px){
    .header__case--img {
        width: 70%;
    }
    .header__case > div.header__case--content.wide {
        width: 100%;
    }
    .header__case--content > div h3 {
        white-space: nowrap;
    }
}
@media only screen and (max-width:425px){
    .header__case--content > div li, .header__case--content > div p {
        font-size: 12px;
        line-height: 17px;
    }
    .header__case--content > div h3 {
        font-size: 16px;
    }
     .header__case > div.header__case--content {
         width: 90%;
     }
     .header__case > div.header__case--content.wide {
         padding:0px 3px 0px 16px;
     }
     .header__case--btn {
         padding: 12px 18px;
         font-size: 14px;
     }
     .header__case--btn.btn--petrol {
         padding: 12px 10px;
         /* font-size: 14px; */
     }
     .header__case--content > div h3 {
         white-space: nowrap;
     }
     

}