.portfolio-section {
    position: relative;

    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        /* padding-bottom:60px; */
    }

    &__bg-spot {
        width: 15%;
        position: absolute;
        left: 0;
        top: 50px;
        z-index: -1;
    }
    &__port-bg {
        width: 15%;
        position: absolute;
        right: 0;
        top: 10px;
        z-index: -1;
    }

    &__filter-container{
        padding-top: 90px;
    }

    &__right-container{
        width: 45%;
        position: relative;
        text-align: center;
    }

    &__left-container{
        width: 90%;
        /* padding-left: 5%; */
    }

    &__text{     
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 34px;
        color: #504D4D;
    }

    &__img{
        width: 85%;
        /* position: absolute; */
        z-index: -1;
        right: 0;
        top: 0;
    }

    &__filter-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 26px;
    }

    &__btn{
        width: 220px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        margin-right: 14px;
        text-decoration: none;
        background: white;
        color: black;

        &--active{
            background: linear-gradient(180deg, #FB5A1E 26.47%, #FA8407 100%);
            color: white;
        }
    }
    &-items > div {
        display: flex;
    }
    &__items-container{
        /* padding-top: 50px; */
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 0;
        display: none;
        /* position: absolute; */
        top: 0;
        opacity: 1;

        & > div {
            opacity: 1;
        }
        &.nopad {
            padding: 0;
        }
       
        &.active {
            height: 100%;
            opacity: 1;
            display: block;
            transition: opacity 0.3s;

            & .portfolio-section-item {
                opacity: 1 !important;
            }
            & .portfolio-section h2, p{
                opacity: 1 !important; 
            }
        }
    }

    &-item{
        display: flex;
        justify-content: center;
        align-items: stretch;
        background: #FFFFFF;
        box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.12);
        /* border-radius: 15px; */
        overflow: hidden;
        /* margin-bottom: 50px; */
        opacity: 1;
        transition: all .2s ease-in-out;
        width: 100%;
        padding: 40px 60px;
        position: relative;
        &--half{
            width: 48%;
            flex-direction: column;
        }
        & h2 {
            font-family: Playfair Display;
            /* font-style: italic; */
            font-weight: 900;
            font-size: 60px;
            line-height: 32px;
            text-align: left;
            color: #FFFFFF; 
            
            &.escape {
                font-family: sofia pro;

                &.colored {
                    color:#333333;
                }
            }
        }
        & p {
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 200;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            padding: 20px 0px;
        }
        &:nth-of-type(odd) {
            background: #FFF7F5;
        }
        & > div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-size: cover;
            box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.12);
            background-repeat: no-repeat;
            /* border-radius: 15px; */
            /* overflow: hidden; */
            /* margin-bottom: 50px; */
            transition: all .2s ease-in-out;
            width: 100%;
            padding: 60px;
        }
        &-afiaanyi, &-tworeport, &-mom{
            display: flex;
            justify-content: center;
            align-items: stretch;
            background: url(../../../assets/images/afiannyibg.png);
            background-size: cover;
            box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.12);
            background-repeat: no-repeat;
            /* border-radius: 15px; */
            overflow: hidden;
            /* margin-bottom: 50px; */
            transition: all .2s ease-in-out;
            width: 100%;
            /* padding: 40px 60px;             */
        }
        &-tworeport {
            background:url(../../../assets/images/tworeporbg.png);
            background-size:cover ;
        }
        &-mom {
            background:url(../../../assets/images/mombg.png);
            background-size:cover ;
        }
        &-chazb {
            background:url(../../../assets/images/chazbg.png);
            background-size:cover ;
        }
        &-nerfund {
            background:url(../../../assets/images/nerfundbg.png);
            background-size:cover ;
        }
        &-petrol {
            background:url(../../../assets/images/petrolbg.png);
            background-size:cover ;
        }
        &.fave{
            display: block;
            background: none;
            box-shadow: none;
            /* padding: 100px 80px 80px; */
            
         > div{
            background: linear-gradient(176.07deg, #FD9F52 15.36%, #FA4683 93.88%);
            border-radius:8px;
            padding:60px 60px 60px 20px;
            
            }
            & h2, p {
                color: white;
            }
        }
        &.attendance {

            & > div {
                background: #225B9B;
                box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.18);
            padding:60px 60px 60px 20px;
            border-radius: 8px;
            }
        }
        &.cms {

            & > div {
                background: linear-gradient(179.7deg, #262626 8.29%, #3E3E3E 99.71%);
                box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.18);
            padding:60px 60px 60px 20px;
            border-radius: 8px;                
            }
        }
        &.edu {

            & > div {
                background: #477DA0;
                box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.18);
            padding:60px 60px 60px 20px;
            border-radius: 8px;                
            }
        }
        &.pave{
            background: none;
            box-shadow: none;
            & > div{
            background: #387789;
            box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.15);
            padding:60px 60px 60px 20px;
            border-radius: 8px; 
              
             
               
            }
            & h2, p {
                color: white;
            }
           
        }
        &.mind{

            & > div {
                background: linear-gradient(115.97deg, #7200EA 1.2%, #6509C4 49.37%, #630DBC 92.96%, #7037AD 92.96%);
                box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.15);
            padding:60px 60px 60px 20px;
            border-radius: 8px;                
            }
        }
        &.travel{
            background: none;
            box-shadow: none;
            /* padding: 100px 80px 80px; */
            & > div{
            background: linear-gradient(231.09deg, #504D4D -3.8%, #50150C 46.32%);
            padding:60px 60px 60px 20px;
            border-radius: 8px;

               
             }
            & h2{
                line-height: 47px;
            }
        }
        &.directory {

            & > div {
                background: linear-gradient(259.35deg, #5CAAF2 -5.55%, #3077B3 97.49%);
                box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.18);
            padding:60px 60px 60px 20px;
            border-radius: 8px;               
            }
        }
        
        &.marketplace
        { 
            background: none;
            box-shadow: none;
            & > div{
            background: linear-gradient(184.56deg, #F99225 23.65%, #F26327 89.79%);
            padding:60px 60px 60px 20px;
                
        
        }
            & h2, p {
                color: white;
            }
        }
        
        
    }

    &__img-markup{
        width: 100%;
        position: relative;
        z-index: 1;
        /* transform: translateX(-100px); */

        &--cakesgallery{
            width: 100%;
        }
    }

    &__text-content-container{
        width: 38%;
        position: relative;
        /* display: inline-flex; */
        align-items: center;
        justify-content: center;
        padding: 2% 0% 2% 2%;

        &.wide{
            width: 50%;
            
        }
        &.mid{
            width: 40%;
            
        }

        & > div {
            padding-bottom: 20px;
        }
        & span{
            font-weight: 300;
        }
    }
    &-extended {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0px;

        & a {
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 24px;
            color: #FFFFFF;
            background:white;
            padding:10px 20px;
            border-radius:20px;
            
        }
    }
    /* &-link:after {
        content: "";
        display: block;
        width: 70px;
        height: 3px;
        background: white;
        margin: 6px 0px;
    } */
    &__image-container{
        width: 68%;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        /* background: url(../../assets/images/tru-bg.jpg); */
        background-position: center;
        background-size: cover;
        

        &--half{
            width: 100%;
            padding: 5% 6%;
        }

        &--cakesgallery{
            padding: 0;
        }

        &--resp{
            transform: translateX(-60px);
            width: 97%;
        }
    }

    &__text-content-title{
        font-weight: 600;
        font-size: 3.8rem;
        letter-spacing: 0.02em;
        color: #333333;
        padding-bottom: .7rem;
        line-height: 94px;
        /* font-family: sofia pro; */

        &--afiaanyi{
            color: #fff;
        }
        &.cms {
            line-height: 47px;
        }
        &--mom{
            color: white;
            line-height: 50px;
        }
        &--miss{
            color: #fff;
        }
        &-pro {
            color: white;
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 60px;
            line-height: 40px;            
        }
    }

    &__text-content-sub-title{
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        
        color: #FB5A1E;        

        &--afiaanyi, &--miss{
            color: #fff;
        }
        &.colored {
            color: #FB5A1E; 
        }
    }

    &__text-content{
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        color: #333333;
        line-height: 23px;

        &--afiaanyi, &--miss{
            color: #fff;
        }
        &.colored {
            color: #333333;
        }
    }
    &__desc-content {
        padding-top: 26px;
        & span {
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 300;
            font-size:18px;
            line-height: 35px;
            color: #FB5A1E; 
            padding-right:35px           
        }
        &.afiaanyi,&.tworeport{
        
        &::before{
            content: '';
            width: 30px;
            height: 2px;
            display: block;
            background: white;
        }

        & span {
            color: white;
        }
        }
    }

    &__content-btn{
        /* float: right; */
        margin-top: 24px;
        text-decoration: none;
        background:linear-gradient(180deg, #FB5A1E 0%, #FA8407 100%);
        padding: 17px 28px;
        &.afiaanyi {
            color: #E53131;
            background:white
        }
        &.tworeport{
            color: white;
            background: #E53131;
        }
        &.mom {
            background: #20B900;
        }
        &.chazb {
            background: #fff;
            color: #FFA969;
        }
        &.nerfund {
            background: #6DB710;;
            /* color: #FFA969; */
        }
    }
/* 
    &__afiaanyi{
        background: radial-gradient(63.79% 63.79% at 50.05% 17.73%, rgba(175, 29, 32, 0.9) 0%, rgba(145, 29, 30, 0.9) 100%), url(../../assets/images/ecommerce.jpg);
    } */

    &__tworeport{
        width: 42%;    
    }
    &__image-casing{
        width: 56%;    
    }
    &__image-casing.narrow{
        width: 45%;    
    }

    &__ellipse{
        position: absolute;
        top: 8%;
        left: 15%;
        width: 21%;
    }

    &__miss{
        background: #F13F31;
    }

    &__cakesgallery{
        background: #333333;
        background-size: contain;
        background-position: center;
    }

    &__shapes {
        position: absolute;
        right: 0;
        top: 10%;
        
    }
    &-modal {
        position: fixed;
        height: 0vh;
        width: 100%;
        opacity: 0;
        top: 0;
        /* left: 0; */
        z-index: 100;
        pointer-events: none;

        &-show {
            opacity: 1;
            height: 100vh;
            pointer-events:all;
        }

        &-container {
            
            margin:0 auto;
            width:100%;
            height:100%;
            display:flex;
            align-items:center;
            background: rgba(0, 0, 0, 0.71);


            & > div {
                display: flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            padding: 45px 60px;
            background: white;
            border-radius: 10px;
            width:48%;
            position: relative;
            /* height: 85%; */
            margin:0 auto;
            /* height: 86%; */


            & p {
                font-family: Sofia Pro;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                /* or 175% */
                
                text-align: center;
                
                color: rgba(51, 51, 51, 0.75);
                
                                
            }
            }
        }
        &-bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 16%;

            & img {
                width: 100%;
            }
        }
        &-img {
            width: 83%;
            & img {
                width: 100%;
            }

            &.narrow {
                width: 69%;
            }
        }
        &-logo {
            width: 30%;
            padding: 20px 0px;

            &.trudata {
                width: 14%;
                padding:0
            }
            &.narrow {
                width: 16%;
                padding: 5px 0px;
            }

            & img {
                width: 100%;
            }
        }
        
        &-container > div.portfolio-section-modal-closed {
            position: absolute;
            right:19%;
            top:9%;
            padding: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.25);

            & img {
                width: 100%;
            }
        }
    }
    &-next {
        background: #C4C4C4;
        right: 31%;
        bottom: 14%;
    }
    &-prev {
        background: #C4C4C4;
        right: 36%;
        bottom: 14%;
    }
}


@media only screen and (min-width: 1244px){
    .portfolio-section-item h2.escape{
        line-height: 44px;
    }
    
}
@media only screen and (max-width: 1244px){
    .portfolio-section-item h2{
        font-size: 42px;
    }
    
}

@media only screen and (max-width: 1140px){
    .portfolio-section__text-content-container.wide
    {
        width: 68%;
    }
    
}
@media only screen and (max-width: 1100px){
    .portfolio-section__img {
        width: 100%;
    }
    
}


@media only screen and (max-width: 1078px){
    .portfolio-section-item h2{
        font-size: 36px;
    }
}
@media only screen and (max-width: 940px){
    .portfolio-section-item > div{
        /* width: 48%; */
        flex-direction: column;
    } 
    .portfolio-section__text-content-container.wide,
    .portfolio-section__image-casing.narrow,
    .portfolio-section__text-content-container.mid{
        width:  100%;
    }                     
    
    .portfolio-section__image-container{
        width: 100%;
        order: -1;
        padding: 2% 3%;
    }
    .portfolio-section__image-container--resp{
        /* padding: 14% 3%; */
        /* order: -1; */
    }
    .portfolio-section-item.fave, .portfolio-section-item.travel {
        padding: 40px 60px;
    }
    .portfolio-section__text-content-container {
        width: 100%;
        padding: 3% 5% 6%;
    }
    .portfolio-section__text {
        line-height: 25px;
    }
    /* .portfolio-section-item.fave > div img,
    .portfolio-section-item.marketplace > div img,
    .portfolio-section-item.travel > div img,
    .portfolio-section-item.pave > div img {
        transform: translate(0);
    } */
    .portfolio-section-item.pave > div > .portfolio-section__image-container,
    .portfolio-section-item.fave > div > .portfolio-section__image-container
    {
        width: 100%;
    }
    .portfolio-section-modal-container > div {
        padding: 30px;
    }
    .portfolio-section__image-casing > img {
        transform: translateX(0);
    }
}
@media only screen and (max-width: 820px){
    .portfolio-section__right-container{
        display: none;
    }
    .portfolio-section__left-container {
        width: 100%;
    }
}
@media only screen and (max-width:780px){
    
    .portfolio-section-modal-container > div {
        width: 70%;
    }
    .portfolio-section-prev {
        right: 33%;
        bottom: 9%;
    }
    .portfolio-section-next {
        right: 24%;
        bottom: 9%;
    }
    .portfolio-section-item > div{
        padding: 30px;
    }
     .portfolio-section-item {
    &.fave> div,
    &.attendance > div,
    &.cms > div,
    &.edu  > div ,
    &.pave > div,
    &.mind > div ,
    &.travel > div,
    &.directory  > div ,
    &.marketplace > div{
        padding:30px;
        
    }
    }  
}
@media only screen and (max-width:768px){
    
    .portfolio-section__text-content-title  {
        line-height: 45px;
    }
}
@media only screen and (max-width: 740px){
    .portfolio-section-item {
        width: 100%;
    }
    .portfolio-section__filter-container{
        flex-wrap: wrap;
    }
    .portfolio-section__text-content {
        line-height: 24px;
    }
}

@media only screen and (max-width: 750px){
    .portfolio-section__btn{
        width: auto;
        margin-bottom: 16px;
    }
}
@media only screen and (max-width: 700px){
    .portfolio-section-prev {
        right: 33%;
        bottom: 11%;
    }
    .portfolio-section-next {
        right: 24%;
        bottom: 11%;
    }
}
@media only screen and (max-width: 650px){
    .portfolio-section-prev {
        right: 31%;
        bottom: 14%;
    }
    .portfolio-section-next {
        right: 21%;
        bottom: 14%;
    }
}
@media only screen and (max-width: 600px){
    .portfolio-section-modal-container > div p {
        font-size: 15px;
    }
    .portfolio-section-modal-container > div.portfolio-section-modal-closed {
        top: 11%;
    }
}
@media only screen and (max-width: 568px){
    .portfolio-section-modal-container > div {
        width: 75%;
    }
    .portfolio-section-prev {
        right: 31%;
        bottom: 15%;
    }
    .portfolio-section-next {
        right: 19%;
        bottom: 15%;
    }
}
@media only screen and (max-width: 520px){
    .portfolio-section__desc-content span {
        font-size: 16px;
        line-height: 25px;
        padding-right: 14px;
        white-space: nowrap;
    }
    .portfolio-section__text-content-title {
        font-size: 3.0rem;
    }
    .portfolio-section-extended a {
        font-size: 14px;
    }
    .portfolio-section-item h2 {
        font-size: 30px;
    }
    .portfolio-section-item > div {
        padding: 23px 0px;
    } 
    .portfolio-section-item {
    &.fave> div,
    &.attendance > div,
    &.cms > div,
    &.edu  > div ,
    &.pave > div,
    &.mind > div ,
    &.travel > div,
    &.directory  > div ,
    &.marketplace > div{
        padding:23px 0px;
        
    }
    } 
.portfolio-section__image-container--resp{
    transform: translateX(-27px);
}

}
@media only screen and (max-width: 512px){
    .portfolio-section-modal-container > div p.tworeport {
        font-size: 16px;
    }
    .portfolio-section-modal-container > div {
        width: 80%;
    }
    .portfolio-section-prev {
        right: 27%;
        bottom: 15%;
    }
    .portfolio-section-next {
        right: 16%;
        bottom: 15%;
    }
.portfolio-section-item.travel h2{
    line-height: 34px;
}

}
@media only screen and (max-width: 425px){
    .portfolio-section-item,
    .portfolio-section-item.fave, 
    .portfolio-section-item.travel {
        padding: 40px 30px;
    }
    .portfolio-section__text-content-title {
        font-size: 2.5rem;
    }
    .portfolio-section__img-markup {
        transform: translateX(-20px);
    }
    .portfolio-section-modal-container > div {
        width: 88%;
    }
    .portfolio-section-modal-container > div.portfolio-section-modal-closed {
        right: 11%;
        width: 30px;
        height: 30px;
        padding: 8px;
    }
    .portfolio-section-prev,
    .portfolio-section-next {
        width: 20px;
        height: 20px;
        bottom: 16%;

        & img {
            width: 36%;
        }
    }
    .portfolio-section-modal-container > div {
        padding: 15px;
    }
    .portfolio-section-modal-container > div.portfolio-section-modal-closed {
        top: 15%;
    }
    .portfolio-section-prev {
        right: 25%;
        
    }
    .portfolio-section-next {
        right: 12%;
       
    }
    .portfolio-section-item p {
        font-size: 13px;
    }
    .portfolio-section__text {
        font-size: 1.0rem;
    }
    .portfolio-section__image-container--resp{
        transform: translateX(-9px);
    }
}
@media only screen and (max-width: 368px){
    .portfolio-section-modal-container > div p {
        font-size: 13px;
    }
    .portfolio-section-modal-container > div p.tworeport {
        font-size: 14px;
    }
    .portfolio-section-prev,
    .portfolio-section-next {
       
        bottom: 17%;
    }
    .portfolio-section-prev {
       
        right: 22%;
    }
.portfolio-section-extended a{
    font-size: 11px;
}
}
@media only screen and (max-width: 368px){
    
    
    .portfolio-section-modal-container > div.portfolio-section-modal-closed {
        top: 17%;
    }
}