.portfolio{
    width: 100%;
    background: #fff;
    position: relative;
    overflow: hidden;
    padding: 65px 0 56px 0;

    &__mark-up{
        margin: 0 5%;
    } 
    &__title {
        font-family: Playfair Display;
        font-style: italic;
        font-weight: 900;
        font-size: 53px;
        line-height: 90px;
        text-align: left;
        
        color: #333333;  
        
        &:after {
            content: '';
            width:100px;
            height:3px;
            display:block;
            background: #E83124;
        }

        &.april:after{
            background: rgb(50, 177, 150);
        }
        &.gimc:after{
            background: #32B196;
        }
        &.cakes:after{
            background: rgb(155, 78, 108);
        }
        &.trans:after{
            background: rgb(51, 62, 168);
        }
        &.tripple:after{
            background: rgb(216, 148, 78);
        }
        &.radiant:after{
            background: rgb(143, 69, 165);
        }
        &.easi:after{
            background: rgb(62, 123, 172);
        }
        &.femi:after{
            background: rgb(65, 171, 213);
        }
        &.queens:after{
            background: rgb(34, 45, 53);
        }
        &.j36:after{
            background: rgb(43, 131, 9);
        }
        &.inline:after{
            background: #8E4BB4;
        }
        &.mom:after{
            background: rgb(151, 10, 115);
        }
        &.dumbell:after{
            background: rgb(0, 23, 92);
        }
        &.graphe:after{
            background: rgb(26, 123, 168);
        }
        &.shortest:after{
            background: rgb(134, 211, 247);
        }
        &.telpecon:after{
            background: rgb(105, 150, 173);
        }
        &.afiaanyi:after{
            background: rgb(145, 31, 13);
        }
        &.green:after{
            background: rgb(70, 174, 20);
        }
        &.keuti:after{
            background: rgb(19, 20, 64);
        }
        &.distancing:after{
            background: rgb(48, 200, 250);
        }
        &.screen:after{
            background: rgb(111, 40, 40);
        }
        &.pave:after{
            background: rgb(33, 101, 123);
        }
        &.visor:after{
            background: rgb(33, 68, 29);
        }
        &.crystal:after{
            background: #24e82a;
        }
        &.gold:after{
            background: #8a0880;
        }
        &.glam:after{
            background: #de17cf;
        }
        &.erz:after{
            background: #de1720;
        }
        &.agro:after{
            background: #de7317;
        }
        
    }

    .owl-theme .owl-controls .owl-page {
        display: inline-block;
    }

    .owl-theme .owl-controls .owl-page span {
        background: none repeat scroll 0 0 #869791;
        border-radius: 20px;
        display: block;
        height: 12px;
        margin: 5px 7px;
        opacity: 0.5;
        width: 12px;
    }

    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-dots {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
        background: #c4c4c4;
        width: 32px;
        height: 4px;
        border-radius: 100px;
        margin: 0 5px;

        &.active{
            background: #FF4C2F;
        }

        &:focus{
            outline: none;
        }
    }

    &__markup{
        width: 125%;

    }

    &__bg-spot{
        width: 15%;
        position: absolute;
        left: 0;
        top: 10px;

        &--right{
            width: 14%;
            position: absolute;
            right: 0;
            bottom: -40px;

        }
    }

    &__container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        flex-direction: column;

        &.web {
            align-items: flex-start;
        }
    }

    &__item{
        position: relative;

        &--left{
            width: 100%;
            padding-bottom: 20px;
        }

        &--right{
            width: 100%;
            position: relative;
            order: -1;
            padding-bottom: 0px;
        }
        &--flex-text {
            padding: 70px 0px 45px 70px;
            position: relative;
            & p{

                font-family: Sofia Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 40px;
                /* identical to box height */
                
                
                color: #E83124; 
                
                &.gimc, &.apple {
                    color: #32B196 ;
                }
                &.cakes{
                    color: #9B4E6C;;
                }
                &.trans{
                    color:  #333EA8;
                }
                &.shortest {
                    color: #32CCFE;
                }
                &.trippleg {
                    color: #D8944E;
                }
                &.radiant {
                    color: #8E4BB4;
                }
                &.easi {
                    color: #3D77A7;
                }
                &.femi {
                    color: #42A7D1;
                }
                &.queen {
                    color: #222D35;
                }
                &.j36 {
                    color:  #2B8309;
                }
                &.inline {
                    color: #8E4BB4;
                }
            }
            & ul {
                padding-top: 30px;
            }

            & li {
                font-family: Sofia Pro;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 25px;
                /* or 167% */
                
                
                color: #000000;                
            }
        }
        &--flex-img {
            width: 783px;
            /* height: 640px; */

            > img.queens {
                width: 100%; 
                /* height: 100vh; */
            }
            &> img{
                height: 100%;
            }
        }
    }
    &__swiper--area {
        position: absolute;
        bottom: 0;
        right: 0;
        background: #E83124;
        /* text-align: center; */
        width: calc(100% - 783px);
        padding: 20px 40px;

        &> div {
            display: flex ;
            align-items:center;
        }
        & span {
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 40px;
            color: #FFFFFF;            
        }

    }
    &__dash {
        display: inline-block;
        width: 20px;
        height: 2px;
        background: white;
        margin: 0px 10px;
    }

}
li {
    list-style-type: none;
}
.btn--top-space {
    margin-top: 40px;
    background: #E83124;
    font-family: Sofia Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* or 143% */

letter-spacing: 0.02em;

color: #FFFFFF;
}
.btn {
    &-ruby, &-saint {
        background-color: #E83124;
    }
    &-apple,&-gimc {
        background:#32B196 ;
    }
    &-cakes {
        background: #9B4E6C;;
    }
    &-trans {
        background: #333EA8 ;
    }
    &-shortest {
        background: #32CCFE;
    }
    &-mom {
        background: #970A73;
    }
    &-trippleg {
        background: #D8944E;
    }
    &-radiant {
        background: #8E4BB4;
    }
    &-easi {
        background:#3D77A7 ;
    }
    &-femi {
        background: #42A7D1;
    }
    &-queen {
        background: #222D35;
    }
    &-j36 {
        background:  #2B8309;
    }
    &-inline {
        background: #8E4BB4;
    }
    &-bosh {
        background: #B62D85;
    }

}

.swiper-controls {
    position: relative;
}
.swiper{
    &--prev  {
        width: 30px;
        height:30px;
        border-radius:50%;
        background:rgba(134, 30, 23, 0.57);;
        position: absolute;
        right: 100px;
        bottom: 20px;
        z-index:500;
        text-align:center;
        display:flex; 
        justify-content:center;
        align-items:center;
        /* & img{
        transform:translateY(50%)
        } */
    }
    &--next {
        width: 30px;
        height:30px;
        border-radius:50%;
        background:rgba(134, 30, 23, 0.57);;
        position: absolute;
        right: 30px;
        bottom: 20px;
        z-index: 500;
        text-align:center;
        display:flex; 
        justify-content:center;
        align-items:center;

    }
    


}
/* .portfolio .owl-carousel .owl-nav button.owl-prev, .portfolio .owl-carousel .owl-nav button.owl-next, .portfolio .owl-carousel .owl-dots {
    transform: translateY(-18px);
} */

@media only screen and (min-width: 640px){
    .portfolio__container{
        flex-direction: row;
    }
     .portfolio__item--left{
        width: 43%;
    } 
    .portfolio__item--right{
        width: 57%;
        order: unset; 
    }
}





@media only screen and (max-width:1325px){
    .portfolio__title.saint, .portfolio__title.queens {
        font-size: 40px;
        line-height: 63px;
    }
}
@media only screen and (max-width:1300px){
    .portfolio__title {
        line-height: 66px;
        font-size: 43px;
        white-space: normal;
    }
    
}
@media only screen and (max-width:1220px){
    .portfolio__title {
        font-size: 32px;
        line-height: 63px;
    }
    .portfolio__title.saint, .portfolio__title.queens {
        font-size: 36px;
        line-height: 43px;
    }
}
@media only screen and (max-width:1110px){
    /* .portfolio__item--flex-img {
        height: 666px; 
   }*/
    .portfolio__swiper--area {
        width:calc(100% - 666px)
    }
    .portfolio__item--flex-text {
        padding:28px 26px 28px 70px;
    }
    .portfolio__title {
        font-size: 33px;
        line-height: 46px;
    }
    .portfolio__item--flex-text {
        width:39%;
    }
    .portfolio__item--flex-text li {
        line-height: 22px;
    }
}

@media only screen and (min-width:1005px){
    .portfolio__title.responsive__title {
        line-height: 50px;
        font-size: 30px;
    }
    
}
@media only screen and (min-width:1245px){
    .portfolio__title.responsive__title {
        line-height: 66px;
        font-size: 43px;
        white-space: normal;
    }
}

@media only screen and (max-width:1005px){
    .portfolio__container.web {
        flex-direction: column;
    }
    .portfolio__item--flex-text {
        padding:20px 0px 45px 70px;
        width: 100%;
    }
    .portfolio__item--flex-img
    
    {
        width: 100%;
        /* height: auto; */
    }
    .btn-femi.btn--top-space {
        margin-top: 6px;
    }
    .no-break{
        display: none;
    }
    .swiper-2 > .swiper-wrapper > .swiper-slide > div > .portfolio__item--flex-text {
        padding: 18px 0px 90px 70px;
    }
    .portfolio__item--flex-img img.queens {
        height: 100%;
    }
    
    .portfolio__swiper--area {
        width: 100%;
    }
    .portfolio__title.saint, .portfolio__title.queens {
        /* font-size: 36px; */
        line-height: 63px;
        white-space: nowrap;
    }
    .portfolio__title{
        white-space: nowrap;
    }


}

@media only screen and (max-width:640px){
    
    .portfolio__item--flex-text {
        padding:0px 0px 10px 70px;
    }
    /* .portfolio__swiper--area {
        width: 50%;
    } */
    .portfolio__item--flex-text.custom{
        height: 475px;
    }
    .btn-femi.btn--top-space {
        margin-top: 17px;
    }

}
@media only screen and (max-width:512px){
    
    .portfolio__item--flex-text {
        padding:0px 0px 10px 30px;
        /* min-height: 521px; */
        
    }
    .portfolio__item--flex-text.custom{
        height: 521px;
    }
    .swiper-2 > .swiper-wrapper > .swiper-slide > div > .portfolio__item--flex-text {
        padding:30px 0px 70px 30px;
        min-height: auto;
        margin-bottom: 30px;
        height: auto;
    }
    .portfolio__swiper--area {
        /* width: 60%; */
        padding: 14px;
    }
    .portfolio__title {
        font-size: 30px;
        line-height: 48px;
    }
    
}
@media only screen and (max-width:425px){
    
    .swiper--prev {
        right: 76px;
    }
    .portfolio__title,
    .portfolio__title.saint, 
    .portfolio__title.queens {
        font-size: 25px;
    }
    .portfolio__item--flex-img> img {
        height: 350px;
    }
}
    
@media only screen and (max-width:365px){
    
    .swiper--prev {
        right: 59px;
    }
    .swiper--next{
        right: 18px;
    }
    .portfolio__dash {
        margin: 0 4px;
    }
    .portfolio__title,
    .portfolio__title.saint, 
    .portfolio__title.queens {
        font-size: 21px;
    }
    .portfolio__title:after {
        width: 75px;
    }
}