.redirect {
    text-align: center;
    padding: 140px 0px 60px;

    & h3 {
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: 900;
        font-size: 90px;
        line-height: 90px;
        /* identical to box height */
        
        text-align: center;
        
        color: #FB5A1E;        
    }
    & > div {
        width: 100%;

        & img {
            width: 100%;
        }
    }

    & p {
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 55px;
        text-align: center;
        
        color: #FFA969;        
    }
    & p.redirect__sub {
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        
        color: #979797;  
        
        & span {
            color: black;
        }
    }
}

@media only screen and (max-width:930px){
    .redirect p {
        font-size: 27px;
    }
}
@media only screen and (max-width:600px){
    .redirect h3 {
        font-size: 60px;
    }
    .redirect p {
        font-size: 20px;
    }
    .redirect p.redirect__sub {
        font-size: 20px;
    }
}
@media only screen and (max-width:425px){
    .redirect h3 {
        font-size: 50px;
    }
    .redirect p {
        font-size: 15px;
        line-height: 27px;
    }
    .redirect p.redirect__sub {
        font-size: 15px;
    }
}