.solutions {

    &__row {
        margin: 0 auto;
        padding-left: 25px
    }

    &__bg {

        &--top {
            position: absolute;
            right:0;
            height:40%;
            z-index: -1;
        }
        &--card {
            position: absolute;
            bottom: 100%;
            width:100%;
            z-index: -1;
            
        }
        &--zero {
            position: absolute;
            top: 0;
            z-index: -1;
            width: 100%;
            height: 86%;
            opacity: 0.10;
        }

    }
    &__left {
        width: 300px;
    }

    &__right {
        padding-left: 40px;
    }

    &__hero {

        display: flex;
        padding: 50px 0px 0px 60px;
        width: 72%;

        & h2 {
            font-size: 2.5rem;
            padding:0px;
            margin-bottom:14px;
            line-height:1.3;
        }

        & p {
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 36px;
            color: #333333;            
            
        }
        & img {
            
            width: 130%;
     
        }

    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin: 0 auto;
        padding: 0px 0px 0px 40px;
        width: 100%;
        
    }
    &__card {
        width: 29%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        /* margin: 10px; */
        margin: 60px 20px 40px ;
        animation: skewCards 3s forwards 0s linear;

        &:nth-child(even) > .solutions__desc {
            background: linear-gradient(0deg, rgba(255, 255,255 ), rgba(255, 255, 255)), url(../../../assets/images/sol-map.png);
            background-position: center;
            background-repeat:no-repeat;
            /* background-image:url(../../../assets/images/sol-map.png) */
        }

        &.xmargin {
            margin-bottom: 60px;
        }
        &:nth-of-type(even) >div > .solutions__visual > .solutions__overlay{
            background: linear-gradient(0deg, rgba(251,90,30, 0.8), rgba(0, 0, 0));
    
        }
    }
    &__visual {
        position: relative;

        &.edu {
            transform-origin: top;
            transform:scaleY(1.1)
        }
        &.agric{
            transform: scaleY(1.55);
            transform-origin: top;
        }
        &:hover {
            
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
              
        }
        
        & img {
            width: 100%;
        }
        & h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 65px;
            text-align: center;
            color: #fff;
            white-space: nowrap;
        }
        
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0,0 ), rgba(0, 0, 0));
        opacity: 0.4;

        
    }
    &__desc {
        background: #FFF7F5;
        box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.13);
        padding: 20px 36px 30px;
        height: 60%;
        overflow-y: auto;
        border-radius: 0px 0px 14px 14px;
        
        &.edu {
            transform: translateY(23px);
        }
    
    & h3 {
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 65px;
        text-align:left;        
        color: #504D4D; 
        white-space: nowrap;
        
        &.colored {
            color:#FB5A1E;
        }
    }
    & p {
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #504D4D;
        /* text-align: center;         */
    }
    
    }
}
@keyframes shake {
   
    
    
  
    30%, 50%, 70% {
      transform: translate3d(0px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
  }





@media only screen and (max-width:1140px){
    .solutions__container {
        padding: 0px;
    }
    .solutions__card {
        margin-top: 40px;
    }
    .solutions__hero {
        width: 83%;
    }
}
@media only screen and (max-width:1024px){
    .solutions__desc h3 {
        font-size: 24px;
    }

}
@media only screen and (max-width:970px){
    .solutions__card {
        width: 28%;
    }

}
@media only screen and (max-width:920px){
    .solutions__bg--top{
        height: 25%;
    }
    .solutions__hero {
        width: 92%;
    }
    .solutions__card{
        width: 44%;
    }
    .solutions__hero{
        padding-left: 0;
    }
    
}
@media only screen and (max-width:768px){
    .solutions__hero p {
        font-size: 15px;
        line-height: 23px;
    }
    .solutions__card.xmargin {
        margin-bottom: 30px;
    }
    .solutions__hero h2 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    .solutions__hero {
        padding-top: 30px;
    }
}
@media only screen and (max-width:695px){
    .solutions__card{
        width: 82%;
    }
    .solutions__container{
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width:650px){
    .solutions__row{
        padding-left: 0px;
    }
    .solutions__hero p {
        font-size: 14px;
    }
    
    .solutions__desc h3 {
        font-size: 21px;
    }
    .solutions__desc p {
        font-size: 13px;
    }
    .solutions__card {
        margin-top: 24px;
        width: 83%;
        margin-bottom: 20px;
    }
    
}

@media only screen and (max-width:512px){
    .solutions__hero h2{
        margin-bottom: 11px;
        font-size: 1.6rem;
    }
    .solutions__hero p {
        font-size: 10px;
        line-height: 21px;
    }
    .solutions__right {
        padding-left: 6px;
    }
    .solutions__desc {
        padding: 20px 20px 30px;
    }
   
}
@media only screen and (max-width:425px){
    .solutions__hero p{
        line-height: 14px;
    }
}
@media only screen and (max-width:375px){
    .solutions__hero h2{
        margin-bottom: 11px;
    }
    
    
}