.swiper-container,.swiper-1, .swiper-container-two,.swiper-container-three, .swiper-container--brand {
    width: 100%;
    height: 100%;
}

.swiper-wrapper-two, .swiper-wrapper-three{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 38px;
    left: 0;
    width: 100%;
    margin: 0 7px;
}

.swiper-pagination-bullet {
    width: 41px;
    height: 4px;
    display: inline-block;
    border-radius: 8px;
    background: #FF4C2F;;
}