.team{
    position: relative;
    padding: 40px 0;

    

    &__row {
        padding: 40px 80px;
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 0%;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        border-radius: 30px;
        z-index: 11;

        &--show {
            height: 100%;
            transition : height 0.4s ease-out;
            text-align:center
        }
        & p {
            opacity: 0;
            /* line-height: 30vh; */
            color: white;
            font-size:1.4rem;
            position: absolute;
            top: 50%;
            white-space: nowrap;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
    }

    &__board {
        display: flex;
        justify-content:space-between;
        padding: 0px 10px 10px;
        width:26%;
        /* border: 1px solid #FB5A1E; */
        box-sizing: border-box;
        border-radius: 30px;
        margin: 40px 0px 20px 0px;
        position: relative;
        cursor: pointer;

    



        &:hover {
            
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
              
        }
    }

   &__anim {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
   }
    
    &__ppic {
        width: 145px;
        position: relative;
        z-index: 10;
        padding-top: 40px;

        
        
        & img {
            width:100%;
            
        }

        &::before {
            content: url(../../assets/images/oball.png);
            position:absolute;
            bottom: -44px;
            left:60%;
            z-index:-10;
            width: 20%;
            transform: scale(0.4);
        }
        &::after {
            content: url(../../assets/images/pball.png);
            position:absolute;
            bottom: -30px;
            left:-10%;
            z-index:-20;
            width: 40%;
            transform: scale(0.7);
        }
        
    }
    &__dot {
        position: absolute;
        bottom: 86px;
        left: 30%;
        z-index: -20;
        width: 40%;
        transform: scale(0.3);

    }
    &__desc {
        
        padding-top: 14px;
       
        & > div {
            display: flex; 
            align-items: center;  
            position: relative;
        }
        & h3 {
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 35px;
        letter-spacing: -0.02em;
        color: #FB5A1E;
        white-space:nowrap;
            
            &.team__hero {
                font-size: 36px;
                font-weight: 600;

                
            }

        }
        & h4 {
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 30px;
            letter-spacing: -0.02em;
            color: #333333;
            padding-bottom: 20px;            
        }
        & p {
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 173.4%;
            letter-spacing: -0.02em;
            color: #000000;   
            /* padding-top: 30px;          */
            
        }
    }

    &__role {
        text-align: center;
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;   
        
        &.xtra {
            padding-bottom: 22px;
        }

        & span{
            font-weight: 700;
        }
    }

    &__links {
        padding-left: 40px;
        display: flex;
         & a {
            width: 40px;
         }
        & img {
            width: 100%;;
            padding-right:10px;

            &.twitter {
                width: 116%;
            }

        }
    }
    &__img-bg{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 32%;
        height: 71%;
        z-index: -1;

        &-top {
            position: absolute;
            top: 90%;
            right: 0%;
            width: 20%;
        z-index: -1;
        }
    }

        &__item{
            width: 20.1%;
            text-align: center;
            position: relative;
            border-radius: 50%;
            padding-bottom: 79px;
    
            span{
                font-weight: 300;
                font-size: 1.2rem;
                color: #000000;
            }
    
            img{
                width: 100%;
                cursor: pointer;
                filter: grayscale(100%);
                transition: all .3s ease-in;
            }
        }
    
        &__avatar-wrapper{
            width: 100%;
            border: 4px solid #FFFFFF;
            height: 100%;
            overflow: hidden;
            border-radius: 50%;
            box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.2);
    
            img:hover{
                transform: scale(1.1);
                filter: grayscale(0%);
            }
        }
    
        &__container__main{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            /* padding: 40px 0px; */
        }
    
        .title{
            padding-bottom: 30px;
    
            &__sub{
                font-size: 1.4rem;
                font-weight: 400;
                padding-bottom: 55px;
                text-align: right;
                position: relative;
    
                &--left{
                    text-align: left;
                }
    
                &::before{
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    height: 2px;
                    width: 50px;
                    background: #FB5A1E;
                    margin-bottom: 1px;
                }
            }
    
            &__second{
                font-weight: bold;
                font-size: 1.5rem;
                padding: 16px 0px;
                line-height: 12px;
                color: #000000;
                white-space: nowrap;
            }
        }
        &__modal {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4));
            z-index: 100;
            margin: 0 auto;
            opacity: 0;
            visibility: hidden;
            transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
            


            &--show {
                display: flex;
                align-items:center;
                opacity: 1;
                visibility: visible;
                transform: scale(1.0);
                transition: visibility 0s linear 0s, opacity 0.8s 0s, transform 0.25s;
               

            }
        }
        &__content {
            width: 80%;
            background: #fff;
            border: 1px solid #FB5A1E;
            padding: 60px 100px;
            height: 90vh;
            margin: 0 auto;
            overflow-y: auto;
            
        }
        &__close{
            position: fixed;
            top: 8%;
            right:15%;
            cursor: pointer;
            
            &:before{
                content: '';
                width: 30px;
                height: 3px;
                background: black;
                display: block;
                position: absolute;
                top: 0px;
                right: 0px;
                transform: rotate(45deg);                
            }
            &::after{
                content: '';
                width: 30px;
                height: 3px;
                background: black;
                display: block;
                /* position: absolute; */
                /* top: -60px; */
                position: absolute;
                top: 0px;
                right: 0px;
                transform: rotate(-45deg);
                transform-origin: center;                
            }
        }

}


@keyframes shake {
   
    
    
  
    30%, 50%, 70% {
      transform: translate3d(0px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
  }
  



@media only screen and (max-width: 1193px){
    .team {
        &__board{
        padding: 30px 20px;
        }
    }
    .team__board:nth-of-type(even){
        /* padding: 30px 0px 30px 0px; */
    }
    
}
@media only screen and (max-width: 1024px){
    .team__board {
        width: 45%;
    }
    .team__row.xpad {
        padding:40px;
    }
    .team__content {
        padding: 60px;
    }
    
}
@media only screen and (max-width: 967px){
    .team__desc p {
        /* font-size: 18px; */
    }
    .team__visual {
        width: 134px;
    }
    
    .team__desc {
        /* padding-right: 20px; */
    }
    .team__board:nth-of-type(even) > .team__desc{
        padding-left: 0px;
    }
    .team__board.mgt:nth-of-type(even) > .team__desc{
        padding-left: 60px;
    }
    .team__ppic {
        width: 124px;
        
    }
   
}
@media only screen and (max-width: 840px){
    .team__item {
        width: 29.1%;
    }
    .team__item:nth-of-type(1) > div > .team__avatar-wrapper,
    .team__item:nth-of-type(4) > div > .team__avatar-wrapper,
    .team__item:nth-of-type(8) > div > .team__avatar-wrapper,
    {
        margin-left: 45px;
    }
    .team__content {
        padding: 40px 60px;
    }
}
@media only screen and (max-width: 768px){
    .team__board {
        flex-direction: column;
        align-items: center;
    }
    .team__desc h3.team__hero {
        font-size: 30px;
    }
    .team__desc {
        /* width: 100%; */
        padding-top: 20px;
    }
    .team__board:nth-of-type(even) {
        flex-direction: column;
        align-items: center;
    }
    .team__board:not(:nth-of-type(1))::before {
        transform: translateX(0px);
    }
    .team__board:nth-of-type(even) > .team__desc {
        padding-left: 60px;
    }
    
    .team__links {
        text-align: right;
    }
    .team__board.mgt:nth-of-type(even) {
        flex-direction: column;
    }
    .team__board.mgt:nth-of-type(even) > .team__desc > .team__links{
        position: absolute;
        top: -22px;
        left: 43%;
    }
    .team__board.mgt > .team__desc > .team__links{
        position: absolute;
        top: -22px;
        left: 43%;
    }
    .team__board.mgt > .team__desc h3{
        padding-top: 20px;
    }
    .team__links  {
        
        padding-left: 20px;
    }
    .team__links a {
        width: 30px;
        
    }

}


@media only screen and (max-width: 740px){
    .team__item{
        width: 40%;
        padding-bottom: 30px;
    }
    .team__img-bg {
        display: none;
    }
    .team .title {
        padding-bottom: 50px;
    }
}
@media only screen and (max-width: 700px){
    .team__board{
        width: 48%;
    }
    .team__row {
        padding: 40px;
    }

}
@media only screen and (max-width: 640px){

    .about-page__container{
        flex-direction: column;
    }
    .about-page__br{
        display: none;
    }
    .about-page__content__left{
        width: 100%;
        padding-bottom: 30px;
    }
    .about-page__content{
        width: 100%;
    }
}
@media only screen and (max-width: 600px){
    .team__desc, .team__board:nth-of-type(even) > .team__desc {
        padding-left: 0px;
        padding-right: 0px;
    }
    .team__board.mgt:nth-of-type(even) > .team__desc {
        padding-left: 0px;
        padding-right: 0px;
    }
    .team__desc p {
        font-size: 16px;
    }
    .team__desc h3 {
        font-size: 22px;
    }
    
    .team__board {
        padding: 20px 8px;
    }
    .team__role {
        font-size: 14px;
    }
    .team__content {
        padding: 30px;
    }
    
}
@media only screen and (max-width: 524px){
    .team__item {
        width: 45%;
    }
    .team__ppic::before {
        transform: scale(0.3);
    }
    .team__ppic::after {
        transform: scale(0.5);
        left: -17%;
    }
    
}
@media only screen and (max-width: 512px){
    .team__board{
        width: 80%;
    }
    .team__container__main {
        justify-content: center;
    }
    .team__desc p {
        font-size: 14px;
    }
    .team__content {
        width: 90%;
    }
    .header__sub--menu li a {
        line-height: 12px;
    }
    
}
@media only screen and (max-width: 480px){
    
    .team__ppic{
        width: 112px;
    }
    
    
}
@media only screen and (max-width: 440px){
    .team__item{
        width: 60%;
        padding-bottom: 16px;
    }
    .team__container__main{
        justify-content: center;
    }
}
@media only screen and (max-width: 425px){
    
    .team__visual{
        width: 111px;
    }
    .team__visual::after{
        left: 68%;
    }
    .team__board > div:first-child {
        width: 228px;
    }
    .team__desc h3 {
        font-size: 24px;
        line-height: 56px;
    }
    .team__desc h3.team__hero {
        font-size: 24px;
    }
    .xpad {
        padding-left: 50px;
        padding-bottom: 9px;
    }
    .team__ppic::before{
        transform: scale(0.3);
        /* left: 167%; */
    }
    .team__ppic::after{
        transform: scale(0.3);
        left: -21%;
    }
    .team__desc h4 {
        font-size: 16px;
    }
    .team__desc > div {
        flex-direction: column;
        align-items: flex-start;
    }
    .team__links {
        padding-left: 0;
        padding-bottom: 20px;
    }
    .team__links a {
        width: 25px;
    }
    
}
@media only screen and (max-width: 350px){
    .team__board.mgt,.team__board.mgt:nth-of-type(even) {
        padding-left: 34px;
    }
    .team__board {
        width: 90%;
    }
    .team__desc h3 {
        font-size: 22px;
    }
    .team__item {
        width: 66%;
    }
    .team__content {
        padding: 20px;
    }
}


