/* Note differentiator page use this styling */

.work{
    position: relative;
    padding-left: 60px;

    &__ellipse  {
        position: absolute;
        right: 47%;
        width: 4%;
        top: 85px;
        z-index: 0;        
    }
    &__poly {
        position: absolute;
        right: 24%;
        width: 9%;
        top: 60px;
        z-index: 0;        
    }
    &__ccl {
        position: absolute;
        right: 47%;
        width: 5%;
        top: -60px;
        z-index: 0;        
    }
    
    &__bg{
        position: absolute;
        right: 0;
        width: 18%;
        top: 24px;
        z-index: 0;
    }

    &__container{
        padding: 32px 0;
        /* position: relative; */

        &--main {
            position: relative;
        }
        & p { 
            font-family: Sofia Pro;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            color: #333333; 
            width:65%;
                 
        }

        &__container{
            z-index:-2
        }
    }

    &__title{
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 55px;
        color: #FB5A1E;
        &::after {
            content: '';
            background: #FB5A1E;
            border-radius: 15px;
            width: 100px;
            height: 10px;
            display: inline-block;
            
        }
        


    }

    &__board {
        display: flex;
        padding: 20px 0px 40px 110px;
        /* position: relative; */
        /* width: 100%; */

        & > div {
            width: 50%;
        }
        & > .diff__right {
            padding-top: 40px;
        }

        &:nth-of-type(1) >div >.work__visual {
            padding: 20px 40px 0px 20px;

        }

        &:nth-of-type(even){
            padding: 30px 30px 40px 0px;

        }

        &--bg {
            background: #FFF7F5;
            width:100%;
            height: 100%;
            z-index:-2;
            transform:translateY(1px)
        }

        & img.work__base {
            position: absolute;
            z-index:-1;
            height:37%;
            bottom: 0;
        }
        /* &:nth-of-type(odd) img.work__base {
            
            transform:translateY(-65px)
            
        } */
        &:nth-of-type(even) img.work__base {
            transform: translateY(50px);
            height: 125%;
            
        }
        &:nth-of-type(odd) .work__desc {
           order: -1;
        
        }
        &:nth-of-type(odd) img.work__base {
           right: 0;
           top: 0;
        
        }
        &:nth-of-type(even) img.work__base {
           left: 0;
         
        
        }
        &:nth-of-type(even) .work__desc p{
            /* padding-right: 20px; */
            padding-right: 66px;
        
        }
    }

    &__visual {
        /* width: 800px; */
        /* height: 462px; */
        position: relative;
        /* padding: 124px 40px 0px 20px; */
    
        & img.work__im {
            width:100%;
        }
    }

    &__desc {
        & p {
            width: 100%;
        }
        & h2 {
            font-size: 2.5rem;
        }

        
    }
    &__img--cont {
        width: 100%;

        & img {
            width: 100%;
            padding:0px 40px 40px 40px;
        }

        & > div {
            width: 30%;

            & img {
                width: 100%;
            }
        }
    }
    &__contents{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        flex-wrap: wrap;
        padding-bottom: 32px;
    }

    &__content{
        width: 48%;
        padding: 32px 0;

        &-text{
            font-size: 1.2rem;
            line-height: 30px;
            color: #000000;
            font-weight: 300;
        }

        &__title{
            font-family: Playfair Display;
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 30px;
            padding-bottom: 24px;
            color: #504D4D;
        }

        &:nth-child(3) .work__content__title, 
        &:nth-child(4) .work__content__title {
            color: #FB5A1E;
        }

        &:nth-child(5) .work__content__title, 
        &:nth-child(6) .work__content__title {
            color: #000000;
        }
    }
    &__img-bg-top {
        width: 40%;
    }
}

@media only screen and (max-width: 1146px){
    /* .work__board:nth-of-type(even) img.work__base{
        height: 106%;
        transform: translateY(-90px);
    } */
    .work {
        padding-left: 0px;
    }
    .work__board {
        padding-left: 44px;
    }
    
    .work__board img.work__base {
        height: 29%;
    } 
    .work__board:nth-of-type(even) {
        /* padding-left: 30px; */
    }
    .work__img-bg-top {
        height: 90%;
    }
    .work__container p {
        line-height: 30px;
    }
    .diff__desc p {
        font-size: 15px;
    }
   
}

@media only screen and (max-width: 1021px){
    
    .work__board:nth-of-type(even) {
        padding-top: 40px;
    }
    .work__board:nth-of-type(even) img.work__base {
        height: 123%;
    transform: translateY(38px);
    }
    .work__board{
        padding-top: 0px;
        padding-bottom: 21px;
    }
    .work__board--bg{
        display: flex;
        align-items: center;
    }
    .work__container{
        padding:0;
    }
    .work__ellipse {
        right: 36%;
        top: 77px;
    }
    .work__poly {
        right: 19%;
        top: 32px;
    }
    .work__board:nth-of-type(even) .work__desc p {
        padding-right: 10px;
        
    }
    .work__board > .diff__right {
        padding-top: 70px;
    }
}

@media only screen and (max-width: 860px){
    .work__board:nth-of-type(even) img.work__base {
        /* height: 86%; */
    }
    .work__container p {
        line-height: 24px;
        font-size: 14px;
    }
    .work__board img.work__base {
        height: 24%;
    }
    
    .work__board:nth-of-type(even) .work__desc p {
        line-height: 136%;
    }
}
@media only screen and (max-width: 768px){
    .work__board {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-left: 0;
        
    }
    .work__board > div {
        width: 90%;
    }
    .work__board:nth-of-type(1) > div >.work__visual{
        padding: 20px 0px 0px 20px;
    } 
    .work__board:nth-of-type(odd) .work__desc {
        order: -1;
       
    }
   
    
    
    .work__board:nth-of-type(even) img.work__base {
        height: 128%;
        left: -30px;
        transform: translateY(44px);
    }
    .work__title {
        font-size: 36px;
    }
    .work__desc {
        padding: 20px 30px;
    }
    .diff__desc p {
        line-height: 170%;
    }
    .work__board:nth-of-type(even) .work__desc p {
        line-height: 170%;
    }
    .work__board > .diff__right {
        padding-top: 10px;
    }
    .work__img--cont img {
        padding-bottom: 5px;
    }
}

@media only screen and (max-width: 580px){
    .work__board img.work__base {
        height: 60%;
    }
    .work__board > div {
        width: 100%;
    }
    .work__board:nth-of-type(odd) img.work__base{
        right: 0px;
    }
    
    .work__board img.work__base {
        height: 20%;
    }
}
@media only screen and (max-width: 512px){
    
    .work__desc {
        padding: 20px 22px;
    }
    .work__title {
        font-size: 30px;
    }
    .work__img-bg-top {
        height: 57%;
    }

    .work__container p {
        width: 100%;
    }
    .work__ellipse {
        right: 29%;
        top: 63px;
        width: 3%;
    }
    .work__img-bg-top {
        transform: translateX(50%);
    } 
}
@media only screen and (max-width: 440px){
    .work__title {
        font-size: 20px;
        line-height: 32px;
    }
    .work__board img.work__base {
        height: 16%;
    }
    

}
@media only screen and (max-width: 372px){
    .work__img-bg-top {
        height: 40%;
    }
    /* .work__visual {
        height: 222px;
    } */
    .work__desc .title {
        font-size: 1.6rem;
    }
    /* .work__board {
        padding-left: 28px;
    } */
    .work__desc {
        padding-bottom: 0px ;
    }
    .work__board img.work__base {
        height: 12%;
    }
}
@media only screen and (max-width: 330px){
   
    .work__visual {
        margin-bottom: 30px;
    }
   
  
}